/*公共类*/
* {
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #999;
}
.w {    /*版心*/
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.fl {  /*左右浮动*/
    float: left;
}
.fr {
    float: right;
}
body {
    background-color: #f0f3ef;
}
.f10 {  /*京东的字体主色调*/
    color: #f10215!important;  /*加大f10的权重*/
}
@font-face {  /*声明字体*/
    font-family: 'icomoon'; /*     ../是返回上一级文件夹      */
    src:  url('../fonts/icomoon.eot?kn47vy');
    src:  url('../fonts/icomoon.eot?kn47vy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kn47vy') format('truetype'),
    url('../fonts/icomoon.woff?kn47vy') format('woff'),
    url('../fonts/icomoon.svg?kn47vy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
input, button {
    border: 0; /*input都不要边框*/
    outline: none;   /*取消轮廓边框*/
    box-sizing: border-box;  /*让加padding或者margin值之后盒子的大小不变*/
}
/*公共类结束*/
/*头部图片链接开始*/
header {
    height: 80px;
    background-color: #ea4332;
}
/*快速导航栏开始*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #999;
}
.shortcut .fl {
    margin-left: 210px;
}
.fr li {
    float: left;
}
.fr li a{
    margin-left: 3px;
    margin-right: 3px;
}

.shortcut .w .Information1{
    width: 250px;
    height: 180px;
    background-color: #fff;
    position: absolute;
    right: 246px;
    top: 31px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 3;
    box-shadow:4px 3px 2px -1px #ccc;
    display: none;
}
.shortcut .w .Information1 li{
    font-size: 12px;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    width: 125px;
}
.shortcut .w .Information1 li a:hover{
    color: red;
}
.shortcut .w .Information1 li:nth-child(1),
.shortcut .w .Information1 li:nth-child(2){
    margin-top: 5px;
}
.shortcut .w .Information1 li:nth-child(7),
.shortcut .w .Information1 li:nth-child(8){
    margin-top: 12px;
    border-top: 1px solid #cccccc;
    padding-top: 5px
}


.space {  /*小竖线*/
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 12px 0;   /*上 左右 下*/
}
.fr li a:hover {
    color: #e33333;
}
.shortcut i {
    font-family: "icomoon";
    font-style: normal;  /*让倾斜的不倾斜*/
    color: #ccc;
}
.mobile {
    position: relative;
}
.mobile img {
    position: absolute;
    left: -3px;
    top: 24px;
    border: 1px solid #ccc;
    padding: 3px;
}
/*中间部分开始*/
.middle {
    height: 140px;
    position: relative;
}
.logo a {
    display: block;
    height: 170px;
    width: 190px;
    background: url(../images/logo.png) no-repeat;
}
.logo {
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, .3);
}
/*搜索框部分*/
.form {
    width: 550px;
    height: 35px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 320px;
}
.form input[type=text] {
    height: 35px;
    width: 498px;
    float: left;
    font-size: 14px;
    padding-left: 6px;
}
.form button {
    width: 50px;
    height: 35px;
    background-color: #f10215;
    float: left;
}
.form button i {
    font-family: "icomoon";
    color: #fff;
    font-style: normal;
    font-size: 16px;
}
/*购物车*/
.middle .shopCar {
    width: 188px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 24px;
    left: 900px;
    text-align: center;
}
.shopCar i {
    margin-right: 5px;
    font-family: "icomoon";
    font-style: normal;
    color: #f10215;
}
.shopCar span {
    width: 15px;
    height: 15px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}
.hotwords {
    position: absolute;
    left: 320px;
    top: 68px;
}
.hotwords a {
    margin-right: 6px;
}
.hotwords a:first-child {
    margin-right: 10px;
    color: #f10215;
}
.navitems ul li{
    float: left;
    margin-left: 25px;
}
.navitems {
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 200px;
    bottom: 0;
}
.navitems li a {
    color: #333;
    font-size: 14px;
}
.navitems li a:hover {
    color: #f10215;
}
.navitems .space {
    margin: 16px -7px 0 18px;  /*上右下左*/
}
.middle .supershop {
    position: absolute;
    bottom: 10px;
    right: 0;
}

/*页面底部分开始*/
footer {
    margin-top: 35px;
    height: 500px;
    background-color: #EAEAEA;
}
.service {
    padding: 30px 0;
    background-color: #f0f3ef;
    border-bottom: 1px solid #DEDEDE;
    overflow: hidden;
}
.service ul li {
    width: 297px;
    height: 43px;
    position: relative;
    line-height: 43px;
    float: left;
}
.service li p {
    font-size: 16px;
    font-weight: 700;
    margin-left: 82px;
}
.service li h5 {
    position: absolute;
    top: 0;
    left: 38px;
    width: 36px;
    height: 43px;
    background: url(../images/1.png) no-repeat;
    text-indent: -999em;  /*首行缩进*/
}
.service li:nth-child(2) h5 {
    background: url(../images/2.png) no-repeat;
}
.service li:nth-child(3) h5 {
    background: url(../images/3.png) no-repeat;
}
.service li:nth-child(4) h5 {
    background: url(../images/4.png) no-repeat;
}
.help {
    height: 200px;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 25px;
    box-sizing: border-box;
}
.help dl {
    width: 192px;
    float: left;
}
.help dt,
.coverage h5{
    height: 30px;
    font-size: 14px;
    color: #666;
}
.help dd {
    height: 22px;
}
.coverage {
    width: 200px;
    height: 150px;
}
.coverage h5 {
    text-align: center;
}
.coverage p {
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.coverage a {
    display: block;
    width: 180px;
    margin-top: 5px;
    text-align: right;
}
.coverage a:hover {
    color: #f10215;
}
/*版权部分开始*/
.copyright {
    padding-top: 20px;
    text-align: center;
    color: #666;
    font-size: 12px;
}
.copyright span {
    margin: 0 7px;
}
.copyright a {
    color: #666;
}
.copyright div {
    margin-top: 20px;
}
.copyright div p {
    line-height: 22px;
}
.foot-icon a {
    display: inline-block;
    width: 103px;
    height: 33px;
    background: url(../images/a_03.png) no-repeat;
    marign-top: 20px;
    margin: 20px 4px 0;
}
.copyright .foot-icon a:nth-child(2){
    background: url(../images/b_05.png) no-repeat;
}
.copyright .foot-icon a:nth-child(3){
     background: url(../images/c_07.png) no-repeat;
 }
.copyright .foot-icon a:nth-child(4){
    background: url(../images/d_09.png) no-repeat;
}
.copyright .foot-icon a:nth-child(5){
    background: url(../images/e_11.png) no-repeat;
}