@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.ttf?t=1719299472752') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 提示工具 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(194, 194, 194);
    color: #2b2b2b;
    text-align: center;
    /* border-radius: 6px; */
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

html,
body {
    height: 100%;
}

/* 页面主体 */
.mainbody {
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    /* 父元素相对定位 */
}

/* 顶部区域 */
.top {
    /* background-color: rgb(218, 105, 182); */
    width: 100%;
    height: 97px;
    position: relative;
    /* 父元素相对定位 */
}

/* 左上区 */
.top_left {
    /* background-color: rgb(110, 193, 62); */
    width: 50%;
    height: 100%;
    position: absolute;
    /* 子元素绝对定位 */
    left: 90px;
    top: 10px;
}

/* 右上功能区 */
.top_right {
    /* background-color: rgb(221, 157, 19); */
    width: 30%;
    height: 100%;
    position: absolute;
    /* 子元素绝对定位 */
    right: 0;
    top: 0;
    text-align: right;
    /* 区域内元素右侧对齐 */
}

.top_right_first {
    /* background-color: aqua; */
    width: 100%;
    height: 30%;
    position: absolute;
    /* 子元素绝对定位 */
    right: 100px;
    top: 20px;
    text-align: right;
}

.top_right_second {
    /* background-color: rgb(0, 96, 96); */
    width: 100%;
    height: 0%;
    position: absolute;
    right: 80px;
    top: 23px;
    text-align: right;
}

/* 右上功能区链接 */
.top_right a {
    font-size: 16px;
    color: rgb(85, 65, 188);
    text-decoration: underline;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    /* background-color: yellow; */
    margin-top: 20px;
    margin-right: 20px;
}

/* 右上功能区链接悬停 */
.top_right a:hover {
    color: rgb(49, 94, 251)
}


/* 真导航一栏和搜索栏 */
.top_second {
    /* background-color: rgb(240, 226, 158); */
    width: 85%;
    height: 45px;
    position: relative;
    margin: auto;
    border: 3px solid rgb(156, 153, 153);
    border-radius: 10px 10px 10px 10px;

}

.top_second_title {
    /* background-color: rgb(247, 247, 247); */
    width: 65%;
    height: 100%;
    position: absolute;
    /* 子元素绝对定位 */
    left: 0px;
    top: 0px;
}

/* 左上导航区链接 */
.top_second_title a {
    font-size: 13px;
    color: rgb(34, 34, 34);
    text-decoration: none;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    /* background-color: yellow; */
    margin-top: 10px;
    margin-left: 7px;
}

/* 左上导航区链接悬停 */
.top_second_title a:hover {
    text-decoration: underline;
}

/* 右上角的搜索 */
.top_second_search {
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    /* background-color: rgb(0, 224, 245); */
    text-align: right;
}

.txt_search {
    width: 100px;
    height: 20px;
    outline: 0;
    border: 2px solid rgb(196, 199, 206);
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    margin-top: 8px;
    margin-right: 3px;
    font-size: 16px;
    border-right: 0;
}

.btn_search {
    width: 30px;
    height: 25px;
    background-color: rgba(131, 131, 129, 0.18);
    /* border: 10px solid rgb(0, 0, 0); */

    border-radius: 5px 0px 0px 5px;
    border-style: none;
    cursor: pointer;
    color: white;

    font-size: 16px;
    /* line-height: 44px; */
}

.txt_search:hover {
    border-color: rgb(167, 170, 181);
}

.txt_search:focus {
    border-color: rgb(78, 110, 242);
}


/* 中部区域 */
.middle {
    /* 中间那一大块 */
    /* background-color: rgb(74, 129, 207); */
    width: 85%;
    /* height: 100%; */
    height: 2100px;
    margin: 0 auto;
    position: relative;
}



.middle_right {
    /* 右侧浅蓝色表格 */
    /* background-color: rgb(183, 243, 255); */
    width: 24%;
    height: 100%;
    position: absolute;
    /* 子元素绝对定位 */
    right: 0px;
    top: 0px;
}

.middle_right_first {
    /* background-color: aquamarine; */
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 150px;
}

.middle_right_first h1 {
    color: rgb(59, 89, 152);
    font-size: 17px;
    margin-bottom: 2px;
}

.middle_right_second {
    /* background-color: rgb(127, 129, 255); */
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #ddd;
    width: 100%;
    height: 392px;
}

.air_qiang {
    width: 100%;
    height: 35px;
    /* background-color: blue; */
}

.middle_right_third {
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 393px;
    /* background-color: chartreuse; */

}

.middle_right_forth {
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 114px;
    /* background-color: rgb(0, 255, 204); */
}

.middle_right_fifth {
    border: 1px solid #ddd;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 750px;
    /* background-color: rgb(229, 255, 0); */
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* border-radius: 5px 5px 0px 0px; */
    width: 100%;

}

#customers td {
    /* border: 1px solid #ddd; */
    /* border-radius: 5px 0px 0px 5px; */
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
}

/* 
#customers th {
    padding: 5px;
    font-size: 14px;
} */

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers td a {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    height: 7px;
    line-height: 24px;
    /* text-align: center; */
    /* background-color: yellow; */
    margin-top: 0px;
    /* margin-right: 20px; */
}

#customers th {
    border-radius: 5px 5px 0px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    text-align: left;
    /* background-color: #e7ffb6;  */
    color: rgb(59, 89, 152);
}

#customers th a {
    font-size: 12px;
}

.table_under_search {
    width: 100%;
    height: 100%;
}

.table_under_search a {
    font-size: 12px;
}

/* 另一种表格 */
/* 另一种表格 */
/* 另一种表格 */

#customers2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

#customers2 td {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;

}

#customers2 th {
    /* border: 1px solid #ddd; */
    padding: 5px;
    font-size: 14px;
}

#customers2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 
#customers2 tr:hover {
    background-color: #ddd;
} */

#customers2 td a {
    font-size: 14px;
    /* color: rgb(85, 26, 154); */
    color: rgb(0, 0, 204);
    text-decoration: underline;
    display: inline-block;
    height: 7px;
    line-height: 24px;

    /* text-align: center; */
    /* background-color: yellow; */
    margin-top: 0px;
    /* margin-right: 20px; */
}

#customers2 td a:hover {
    color: rgb(85, 26, 154);
}

#customers2 th {
    border-radius: 5px 5px 0px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    text-align: left;
    /* background-color: #e7ffb6; */
    color: rgb(59, 89, 152);
}

#customers2 th a {
    font-size: 12px;
}

/* 第二搜索位 */
.txt_search2 {
    width: 150px;
    height: 20px;
    outline: 0;
    border: 2px solid rgb(196, 199, 206);
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    margin-top: 8px;
    /* margin-right: 0px; */
    font-size: 16px;
    /* border-right: 0; */
    right: 0;
}

.btn_search2 {
    width: 100px;
    height: 24px;
    background-color: rgb(234, 234, 234);
    /* border: 2px solid rgb(196, 199, 206); */

    border-radius: 5px 5px 5px 5px;
    border-style: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-right: 0;
    float: right;

    font-size: 16px;
    /* line-height: 44px; */
}

.btn_search2:hover {
    background-color: rgb(200, 200, 200);
}

.txt_search2:hover {
    border-color: rgb(167, 170, 181);
}

.txt_search2:focus {
    border-color: rgb(78, 110, 242);
}


/* 最下面那个讨论区，最新消息位 */
/* 最下面那个讨论区，最新消息位 */
/* 最下面那个讨论区，最新消息位 */
/* 最下面那个讨论区，最新消息位 */

#customers3 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

#customers3 td {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;

}

#customers3 th {
    /* border: 1px solid #ddd; */
    padding: 5px;
    font-size: 14px;
}

#customers3 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 
#customers2 tr:hover {
    background-color: #ddd;
} */

#customers3 td a {
    font-size: 14px;
    /* color: rgb(85, 26, 154); */
    color: rgb(0, 0, 204);
    text-decoration: underline;
    display: inline-block;
    height: 7px;
    line-height: 24px;

    /* text-align: center; */
    /* background-color: yellow; */
    margin-top: 0px;
    /* margin-right: 20px; */
}

#customers3 td a:hover {
    color: rgb(85, 26, 154);
}

#customers3 th {
    border-radius: 5px 5px 0px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    text-align: left;
    /* background-color: #e7ffb6; */
    color: rgb(59, 89, 152);
}

#customers3 th a {
    font-size: 12px;
}


.middle_left_first {
    /* background-color: burlywood; */
    width: 75%;
    height: 60px;
    position: relative;
    /* 子元素绝对定位 */
    left: 10px;
    top: 0px;
}

.middle_left_first h1 {
    color: rgb(59, 89, 152);
    font-size: 25px;
    margin-bottom: 0px
}

.middle_left_first h6 {
    font-size: 13px;
    margin-top: 2px
}

.middle_left_first a {
    color: rgb(59, 89, 152);
}

.middle_left_second {
    background-color: rgb(144, 222, 135);
    width: 75%;
    height: 100%;
    position: relative;
    /* 子元素绝对定位 */
    left: 10px;
    top: 0px;
}

.duanluo {
    border-left: solid 5px rgb(156, 153, 153);
    width: 75%;
    height: 960px;
    /* background-color: rgb(100, 0, 0); */
}

.duanluo p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    color: rgb(34, 34, 34);
}

.duanluo a {
    text-decoration: none;

}

.duanluo a:hover {
    background-color: rgb(136, 0, 0);

}

/* 段落2 */

.duanluo2 {
    border-left: solid 5px rgb(156, 153, 153);
    width: 75%;
    height: 760px;
    /* background-color: rgb(100, 0, 0); */


}

.duanluo2 p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    color: rgb(34, 34, 34);
}

.duanluo2 a {
    text-decoration: none;

}

.duanluo2 a:hover {
    background-color: rgb(136, 0, 0);

}

.bottom_line {
    width: 90%;
    height: 40px;
    margin: auto;
    border-top: solid #2b2b2b;
    /* background-color: aquamarine; */
}

.bottom {
    margin: auto;
    width: 37%;
    height: 320px;
    /* background-color: bisque; */
}