*{
   padding: 0;
   margin: 0;
   list-style: none; 
   text-decoration: none;
   
}
a{
    color: #6c6c6c;
}
.user_nav{
    background-color: #f5f5f5;

}
.user_nav_content{
    /* border: 1px solid black; */
    margin: 0 auto;
    height: 35px; /*保险起见*/
    width: 1190px;
    border-bottom:1px solid #eee;
}
.user_nav_content::after{
    content: "";
    display: block;
    clear: both;

}

.user_nav_content .left{
    /* border: 1px solid red; */
    float: left;
}
.user_nav_content .left li{
    float: left;
    padding:0 7px;
}
.user_nav_content .left li div{
    height: 35px;
    line-height: 35px;
}
.user_nav_content .left li a{
    float: left;
    font-size: 12px;
    color: #6c6c6c;
}
.user_nav_content .left li a:hover{
    color:#f40;
}
.user_nav_content .left li span{
    height: 10px;
    width: 10px;
    float: left;
    /* border: 1px solid orange; */
    background-image: url(arrow_1.png);
    background-size: 10px 10px;
    margin-top: 12px;
    margin-left: 5px;
}
.user_nav_content .right{
    float: right;
}
.user_nav_content .right li{
    float: left;
    padding:0 7px;
}
.user_nav_content .right li div{
    height: 35px;
    line-height: 35px;
}
.user_nav_content .right li a{
    float: left;
    font-size: 12px;
    color: #6c6c6c;
}
.user_nav_content .right li a:hover{
    color:#f40;
}
.user_nav_content .right li .after{
    height: 10px;
    width: 10px;
    float: left;
    /* border: 1px solid orange; */
    background-image: url(arrow_1.png);
    background-size: 10px 10px;
    margin-top: 12px;
    margin-left: 5px;
}
.line{
    margin-top: 5px;

}
.user_nav_content .right li .gouwuche{
    height: 15px;
    width: 15px;
    float: left;
    /* border: 1px solid orange; */
    background-image: url(gouwuche.png);
    background-size: 15px 15px;
    margin-top: 8px;
    margin-right: 3px;
}
.user_nav_content .right li .wujiaoxing{
    height: 15px;
    width: 15px;
    float: left;
    /* border: 1px solid orange; */
    background-image: url(wujiaoxing.png);
    background-size: 15px 15px;
    margin-top: 8px;
    margin-right: 3px;
}

.taobao_body{
    margin: 0 auto;
    width: 1190px;
    border: 1px red solid;
}
.taobao_body .head{
    position: relative;
    height: 100px;
    border: 1px solid black;
    padding-top: 18px;
}
.taobao_body .head_search{
    margin: 0 220px 0 250px;
    /* border: 1px solid black; */
    height: 200px;
}
.taobao_body .head_logo{
    position: absolute;
    width: 150px;
    height: 60px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    left: 0px;
    top:26px;

}
.taobao_body .head_logo a{
    display: block;
    width:150px;
    height: 0px;
    padding-top: 60px;
    overflow: hidden;
}
.taobao_body .head_code a{
    position: absolute;
    right: 0px;
    bottom:0px;
    text-align: center;
    width: 94px;
    height: 100px;
    color: #6c6c6c;
    border: 1px solid #6c6c6c;
    overflow: hidden;
}
.taobao_body .head_code a span{

    font-size: 14px;
    color: #f40;
}
.taobao_body .head_code a img{
    margin-top: 5px;
    width: 70px;
    height: 70px;
}
.search_head{
    height: 25px;
    /* border: 1px solid black; */
}
.search_head li{
    float: left;
    text-align: center;
    width: 50px;
    height: 25px; 
}
.search_head li a{
    height: 25px;
    display: block;
    width: 50px;
}
.search_head li a:hover{

    background-color: #f9e6e6;
    color: #c60000;

}
.search_head li .choose{
    background-color: #ff5400;
    color: #ffffff;
}
.head_search .search_box{
    position: relative;
    height: 34px;
    border: 1px solid #f50;
    border-width: 3px 3px 3px 3px;
    
}
.head_search .search_box .content{
   
    padding: 8px 0;
    text-indent: 10px;
    height: 34px;
    line-height: 25px;
    width: 618px;
    border: 0 ;
    outline: 0;
    background-color: #fff;
}
/* .head_search .search_box .submit{
    position: absolute;
    width: 80px;
    height: 34px;
    right: 0px; 
} */
.head_search .search_box .search-submit-btn{
    position: absolute;
    right: 0px; 
    cursor: pointer;
    height: 34px;
    width: 80px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    background-color: #F4543C;
}

.search_foot a{
    float: left;
    font-size: 12px;
    padding: 5px 5px 0 0 ;
}
.search_foot a:hover{
    color: #f40;
}

.more {
    float: right;
}
.supper_search{
    position: absolute;
    right: 180px;
    top: 50px;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 12px;
    font-size: 12px;  
}
.supper_search:hover{
    color: #f40;
}


.taobao_body .tradeNav::after{
    content: "";
    display: block;
    clear: both;
}
.taobao_body .tradeNav .main{
    float: left;
    width: 100%;

}
.taobao_body .tradeNav .main .cont{
    margin-left: 200px; 
    /* height: 200px; */
}
.taobao_body .tradeNav .main .cont::after{
    content: "";
    display: block;
    clear: both;
}
.taobao_body .tradeNav .serve{
    float: left;
    width: 190px;
    /* height: 200px; */
    margin-left: -100%;
    
}
.taobao_body .tradeNav .main ul li{
    float: left;
    margin: 0 10px;
    text-align: center;
    /* font-size: 14px; */
    font-weight: 700;
}
.taobao_body .tradeNav .nav1{

    position: relative;
    border-bottom: 3px solid #f40;
}
.taobao_body .tradeNav .nav1::after{
    content: "";
    display: block;
    clear: both;
}

.taobao_body .tradeNav .nav1 .type1 a{
    padding: 0 3px;
    width: 52px;
    color: #f40;
    display: block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    float: left;
    font-size: 16px;
}
.taobao_body .tradeNav .nav1 .type1 a:hover{
    background-color: #eee;
}
.taobao_body .tradeNav .nav1 .type2{
    float: left;
}
.taobao_body .tradeNav .nav1 .type2 li{
    float: left;
    font-weight: 700;
    margin: 0 9px;
    font-size: 14px;

}
.taobao_body .tradeNav .nav1 .type2 li a{
    display: block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    float: left;
    padding: 0 5px;
    color: #3c3c3c;

}
.taobao_body .tradeNav .nav1 .type2 li a:hover{
    color: #f40;
    background-color: #eee;
}
.taobao_body .tradeNav .nav1 .type2 .pipe{
    line-height: 28px;
    padding: 2px 5px 0 0;
    font-weight: 400;
    font-size: 14px;
    color: #3c3c3c;/* 淘宝采用颜色为rgb(232,232,232) */

}
.taobao_body .tradeNav .nav1 .type3{
    display: block;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    float: right;
    position: absolute;
    top:-2px;
    width: 170px;
    right:0;

}
.taobao_body .tradeNav .nav1 .type3 li{
    font-size: 12px;
    float: right;
    font-weight: 700;
}
.taobao_body .tradeNav .nav1 .type3 li a{
    color: #3c3c3c;

}
.taobao_body .tradeNav .nav1 .type3 li a:hover{
    color: #f40;
}
.taobao_body .tradeNav .pic1{
    float: left;
    width: 520px;
    
}
.taobao_body .tradeNav .pic2{
    float: left;
    
    
}
.taobao_body .tradeNav .indi{
    float: left;
    
}
.taobao_body .tradeNav .pic1 .fir{
    position: relative;
    width: 520px;
    height: 280px;
    overflow: hidden;
}
.taobao_body .tradeNav .pic1 .sec{
    position: relative;
    width: 520px;
    height: 198px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
.taobao_body .tradeNav .pic2 .fir{
    position: relative;
    width: 160px;
    height: 280px;
    overflow: hidden;
}
.taobao_body .tradeNav .pic2 .sec{
 
    width: 160px;
    height: 200px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
.taobao_body .tradeNav .indi{
    width: 310px;
    
}
.taobao_body .tradeNav .indi_nav{
    border-bottom: 1px solid orange;
}
.taobao_body .tradeNav .indi_nav .fir_nav {
    height: 27px;
    background: #F7F7F7;
    border-bottom: 1px solid #e8e8e8;
}
.taobao_body .tradeNav .indi_nav .fir_nav li{
    font-size: 14px;
    color: #6c6c6c;
    float: left;
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 1px;
    width: 40px;
    text-align: center;

}

.taobao_body .indi_nav .fir_nav  a:hover{
    color: #f40;
}
.taobao_body .indi_nav .cont_nav{
    margin: 3px;
}
.taobao_body .indi_nav .cont_nav::after{
    content: "";
    display: block;
    clear: both;
}
.taobao_body .indi_nav .cont_nav li{
    text-align: center;
    margin: 3px;
    font-size: 13px;
    color: #6c6c6c;
}
.member {
    padding: 3px 0 10px 0;
    height: 132px;
    padding-right: inherit;
    text-align: center;
    background-repeat: no-repeat;
    border: 1px solid purple;
}
.taobao_body .tradeNav .number .wrapper{
    display: block;
    margin: 0 auto;
    width: 74px;
    height: 56px;
}
.taobao_body .tradeNav .number .wrapper a{
    margin-left: 5px;
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 50%;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.taobao_body .tradeNav .number{
    border-bottom: 1px solid orange;
}
.taobao_body .tradeNav .number .number_bd{
    background: url(bg.png);
    background-size: 100%;
}
.taobao_body .tradeNav .number .number_bd span{
    margin: 5px auto;
    display: block;
    line-height: 17px;

    height: 17px;
    text-align: center;
}
.taobao_body .tradeNav  .number_bd .number_btn{
    margin-top: 5px;
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 250px;
}
.taobao_body .tradeNav  .number_bd .number_btn a{
    font-size: 12px;
    position: relative;
    
    left: 20%;
    padding: 0px 10px 0px 10px;
    background-color: #ffe4db;
    border-radius: 15px;
}
.taobao_body .tradeNav .number .number_ft{
    height: 40px;
    overflow: hidden;
    margin-top: 2px;
    padding-left: 15px;

}
.taobao_body .tradeNav .number .number_ft a{
    position: relative;
    top:12%;
    color: #fff;
    background: #ff5400;
    padding: 5px 30px;
    border-radius: 5px;
}
.taobao_body .tradeNav .number .number_ft a:hover{
    background: red;
}
.taobao_body .tradeNav .fuwu .tit{
    position: relative;
    padding: 0 16px;
    font-weight: bolder;
}
.taobao_body .tradeNav .fuwu .cont2{
    width:280px;
    margin: 5px auto;
}
.taobao_body .tradeNav .fuwu .cont2::after{
    content: "";
    clear: both;
}
.taobao_body .tradeNav .fuwu .cont2 a{
    font-size: 12px;
    float: left;
    margin: 0 10px 10px 0;
    width: 56px;
    height: 63px;
    color: #9c9c9c;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    outline: 0;
    overflow: hidden;
    border: 1px solid #ddd;
}
.taobao_body .tradeNav .serve .tb_serve{
    width:195px;
    background-color: #fff;
    position: relative;
    box-shadow: 2px 2px 0 #eeeef0;
}
.taobao_body .tradeNav .serve .tb_serve h2{
    background: #f40;
    height: 35px;

}
.taobao_body .tradeNav .serve .tb_serve span{
    position: relative;
    top:5px;
    left: 5px;
    height: 35px;
    width:100px;
    text-indent: -2000px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.taobao_body .tradeNav .serve .tb_serve dl{
    height: 498px;
    overflow-y: hidden;
    border: 1px solid #ff4401;
    border-top: 0;
    padding: 0 9px;
}
.taobao_body .tradeNav .serve .tb_serve dt{
    padding-top: 10px;
    font-size: 16px;
    color: #f50;
    font-weight: 700;
    line-height: 18px;
    border-bottom: 1px;
}
.taobao_body .tradeNav .serve .tb_serve dd{
    border-bottom: 1px solid #e6e7eb;
    padding-bottom: 10px;
    padding-left: 5px;
    line-height: 22px;
}
.taobao_body .tradeNav .serve .tb_serve dd a{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.taobao_body .tradeNav .serve .tb_serve dd a:hover{
    background-color: #eee;
}