.font-confortaa{
  font-family: 'Comfortaa', cursive;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
main {
  max-width: 1680px;
}

.nav-header{
  max-width: 1680px;
}