p{
    font-family: Roboto,Arial;
}
body{
    margin:0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248,248,248);
}
.thumbnail1{
    width: 100%;
}
.thumbnail1:hover{
    cursor: pointer;
}
.video1discription{
     font-family: arial;
     font-weight: bold;
     font-size: 16px;
     width: 300px;
     line-height: 20px;
     margin-top: 0;
}
.video1discription:hover{
    cursor: pointer;
}
.author{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.922);

}
.horizontaldiv{
    display: inline-block;
}
.pic-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.channelimg{
    border-radius: 50px;
    width: 40px;
}
.thumbnailrow{
    margin-bottom: 10px;
    position: relative;
}
.video-time{
    color: white;
    background-color: black;
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;

    
}
.views{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.922);
    line-height: 1px;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;

}

.search{
    flex: 1;
    height: 34px;
    border-style: solid;
    border-width: 1px;
    border-color:gray;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 2px;
}

.search::placeholder{
    font-family: Roboto,Arial;
}

.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230,230,230,230);
    z-index: 100;
}
.middle{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.left{
    display: flex;
    width: 150px;
    display: flex;
    align-items: center;
}
.right{
    width: 200px; ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}
.notification-icon{
    position: relative;
}
.ncount{
    position: absolute;
    background-color: rgb(200, 0, 0);
    color: white;
    top: -3px;
    right: 0;
    font-size: 11px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menu{
    height: 25px;
    margin-right: 24px;
    margin-left: 24px;
}
.youtubelogo{
    height: 24px;
}
.searchbutton{
    height: 38px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.searchbtnimg{
    height: 25px;
  margin-top: 4px;
}
.voice{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}
.voiceimg{
    height: 24px;
    margin-top: 4px;
}
.upload{
    height: 25px;
}
.app{
    height: 25px;
}
.notification{

    height: 25px;
}
.currentuser{
    height: 45px;
}



.sidebar{
    position: fixed;
    left: 0;
    bottom:0;
    top: 55px;
    width: 70px;
    background-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(230,230,230,230);
    z-index: 200;
    padding-top: 5px;

}
.sidebar-com{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-com:hover{
    background-color: rgb(235,235,235);
    cursor: pointer;
}
.sidebar img{
    height: 24px;
    margin-bottom: 4px;
}
.icontext{
    font-family: Roboto,Arial;
    font-size: 10px;
}