html,body,ul,ol,li,a{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	font-size: 12px;
	color: #222;
}

i{
	font-style: normal;
}

b{
    font-weight: normal;
}

em{
    font-style: normal;
}

.clearfix:before,
.clearfix:after{
	content: ' ';
	display: table;
}

.clearfix:after{
	clear: both;
}

/* header顶部样式 */
header div.top_nav{
	width: 100%;
	height: 42px;
	background-color: rgba(255,255,255,1);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

header div.top_nav .top_nav_con{
	width: 1160px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

header div.top_nav .top_nav_con>ul li{
	float: left;
	height: 100%;
}

header div.top_nav .top_nav_con>ul li a{
	color: #222;
	font-size: 12px;
	display: inline-block;
	height: 100%;
	line-height: 42px;
	padding: 0 15px;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

header div.top_nav .top_nav_con>ul li a:hover{
	color: #00A1D6;
}

header div.top_nav .top_nav_con .left_nav{
	float: left;
}

header div.top_nav .top_nav_con .left_nav li.onactive a{
	background-color:#31B3DE;
	color: #fff;
}

header div.top_nav .top_nav_con .left_nav li:first-child a:before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url(../img/shop/icons.png) no-repeat -920px -88px;
    vertical-align: -3px;
    margin-right: 5px;
}

header div.top_nav .top_nav_con .right_nav{
	float: right;
}

header div.top_nav .top_nav_con .right_nav li.cart a{
	color: #fff;
	background: #F25D8E;
}

header div.top_nav .top_nav_con .right_nav li.cart a:hover{
	background: #FF85AD;
}

header div.top_nav .top_nav_con .user{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    left:980px;
}

header div.top_nav .top_nav_con .user:hover a.user_img{
	transform: scale(2,2) translate(0px, 15px);
	-webkit-transform: scale(2,2) translate(0px, 15px);
	border-color: rgba(255,255,255,1);
}

header div.top_nav .top_nav_con .user:hover .info_box{
	height: 271px;
}


header div.top_nav .top_nav_con .user a.user_img{
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/shop/userimg.jpg) no-repeat center center;
    background-size: cover;
    z-index: 201;
    border-radius: 50%;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    border: 2px solid rgba(255,255,255,0);
    position: relative;
}

header div.top_nav .top_nav_con .user .info_box{
    width: 260px;
    position: absolute;
    left: -110px;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    height: 0px;
    z-index: 200;
    overflow: hidden;
}

header div.top_nav .top_nav_con .user div.user_info{
	width: 260px;
	background: #fff;
	text-align: center;
	padding: 40px 18px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header div.top_nav .top_nav_con .user div.user_info .info_top{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .username{
	color: #222;
    font-size: 14px;
    font-weight: bold;
    font-family: '黑体';
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l{
	float: left;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l a b{
    font-weight: normal;
	vertical-align: 5px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l a:first-child:before{
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/shop/icons.png) no-repeat -343px -471px;
	margin-right: 5px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l a:last-child:before{
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/shop/icons.png) no-repeat -407px -471px;
	margin-right: 5px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r{
	float: right;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a{
	display: inline-block;
	position: relative;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a:first-child{
	width: 18px;
	height: 18px;
	background: url(../img/shop/icons.png) no-repeat -343px -534px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a:last-child{
	width: 18px;
	height: 18px;
	background: url(../img/shop/icons.png) no-repeat -343px -599px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a span{
	display: block;
    width: 85px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    color: #222;
    background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a span.email{
	position: absolute;
    top: -1px;
    right: 22px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a span.phone{
	position: absolute;
    top: -1px;
    right: 22px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a i,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a em{
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #ccc;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	right: 14px;
	opacity: 0;
	filter: alpha(opacity=0); 
	display: none;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a em{
	border-left-color:#fff; 
    margin-top: -5px;
    right: -3px; 
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a .email_i{
    border-left-color: #ccc;
    margin-top: -4px;
    right: 14px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a .email_em{
    border-left-color: #fff;
    margin-top: -5px;
    right: -3px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.e_link:hover span,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.e_link:hover i,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.e_link:hover em{
	opacity: 1;
	filter: alpha(opacity=100); 
	display: block;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.p_link:hover span,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.p_link:hover i,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.p_link:hover em{
	opacity: 1;
	filter: alpha(opacity=100); 
	display: block;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel{
	position: relative;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox{
	display: block;
    width: 100%;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox i{
    font-size: 12px;
    color: #222;
    font-style: normal;
    float: left;
    font-family: '微软雅黑';
}
  
header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox>a{
	display: block;
    position: relative;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox>a .level_num{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    background: #ccc url(../img/shop/Level-icons.png) no-repeat -153px -9px;
    position: absolute;
    top: -2px;
    left: 27px;
    z-index: 2;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox>a .level_line{
	display: inline-block;
	width: 180px;
	height: 8px;
	background: #ccc;
	position: absolute;
    top: 3px;
    left: 43px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info{
	width: 260px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    position: absolute;
    top: 100px;
    left: 260px;
    text-align: left;
    color: #676b73; 
    font-family: '微软雅黑'; 
    border-radius: 4px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info h2{
	font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info h2 strong{
    font-size: 14px;
    color: #222;
    padding: 0 3px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info ul li{
    font-size: 12px;
    margin-bottom: 6px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info p{
	text-align: right;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info p a{
	color: #00a1d6;
	margin-right: 10px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info p a:hover{
	color: #F25D8E;
	font-size: 12px;
    font-family: '微软雅黑'; 
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info i,
header div.top_nav .top_nav_con .user div.user_info .info_top .level_info i em{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #ccc;
	position: absolute;
	top: 12px;
    left: -30px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info i em{
	border-right-color: #fff; 
	top: -15px;
    left: -14px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .ex{
    width: 100%;
    display: block;
    position: absolute;
    top: 13px;
    font-size: 14px;
    text-align: right;
    color: #ccc
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .ex b{
	color: #222;
	font-weight: normal;
	font-size: 12px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid{
    margin-top: 10px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li{
	float: left;
	width: 90px;
    margin-right: 21px;
    margin-bottom: 10px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li a{
	display: inline-block;
	width: 100%;
	text-align: left;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li a:before{
	content: '';
	display: inline-block;
	background: url(../img/shop/icons.png) no-repeat;
    margin-right: 8px;
    vertical-align: -2px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(1) a:before{
    width: 14px;
    height: 16px;
    background-position: -473px -407px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(1) a:hover:before{
	background-position: -537px -407px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(2) a:before{
    width: 16px;
    height: 15px;
    background-position: -536px -1047px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(2):hover a:before{
	background-position: -601px -1047px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(3) a:before{
    width: 18px;
    height: 12px;
    background-position: -472px -474px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(3):hover a:before{
	background-position: -536px -474px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(4) a:before{
    width: 18px;
    height: 15px;
    background-position: -473px -855px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(4):hover a:before{
	background-position: -537px -855px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li a:hover{
	color: #00a1d6;
}

header div.top_nav .top_nav_con .user .user_out{
    width: 260px;
    height: 35px;
    line-height: 35px;
    background: #F4F5F7;
    text-align: right;
}

header div.top_nav .top_nav_con .user .user_out a{
	color: #222;
	font-size: 12px;
    margin-right: 10px;
}

header div.top_nav .top_nav_con .user .user_out a:hover{
	color: #00a1d6;
}

/*内容标题样式*/
section{
    width: 100%;
    margin-top: 75px;
}

.con_title{
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.con_title>div{
	display: inline-block;
}

.con_title .check{ 
    width: 175px;
    height: 150px;
    background: url(../img/cart/check_cart.png) no-repeat 0px 0px;
    position: absolute;
    top: -10px;
    left: 1px;
}

.con_title .comfirm{
	width: 191px;
    height: 180px;
    background: url(../img/cart/confirm_cart.png) no-repeat 0px -118px;
    position: absolute;
    top: -1px;
    left: 380px;
}

.con_title .pay{
    width: 115px;
    height: 26px;
    background: url(../img/cart/pay_cart.png) no-repeat;
    position: absolute;
    top: 55px;
    right: 290px;
}

.con_list{
	width: 1160px;
	margin: 50px auto 0;
}

.con_list table{
	width: 100%;
    background-color: #F4F5F6;
    border-bottom: 1px solid #D8D8D8;
}

.con_list table thead{
	background-color: #F4F5F7;
}

.con_list table thead tr{
	height: 40px;
    line-height: 40px;
}

.con_list table thead tr th{
	font-size: 14px;
	font-family: '微软雅黑';
	color: #99A2AA;
}

.con_list table thead .select_all{
    vertical-align: -2px;
    margin-right: 10px;
    margin-left: 10px;
}

.con_list table tbody{
	background-color: #fff;
}

.con_list table tbody tr{
	height: 140px;
}

.con_list table tbody tr.on{
	background-color: #F4F5F7;
}

.con_list table tbody tr td:first-child{
	text-indent: 10px;
}

.con_list table tbody tr td:nth-child(2){
	width:402px;
}

.con_list table tbody tr td:nth-child(2) .good_img{
	width: 80px;
	height: 80px;
	float: left;
	border: 1px solid #ccc;
}

.con_list table tbody tr td:nth-child(2) .good_img a{
	display: block;
	width: 100%;
	height: 100%;
}

.con_list table tbody tr td:nth-child(2) .good_img a img{
	width: 100%;
	height: 100%;
}

.con_list table tbody tr td:nth-child(2) .good_intro{
    float: left;
    width: 310px;
    padding-left: 10px;
}

.con_list table tbody tr td:nth-child(2) .good_intro p{
	margin: 0;
	padding: 0;
    height: 40px;
    overflow: hidden;
}

.con_list table tbody tr td:nth-child(2) .good_intro p a{
	font-size: 14px;
}

.con_list table tbody tr td:nth-child(2) .good_intro p a:hover{
	color: #F25DAA;
}

.con_list table tbody tr td:nth-child(2) .good_intro span{
	margin-top: 5px;
}

.con_list table tbody tr td:nth-child(2) .good_intro span a{
	color: #D8D8D8;
}

.con_list table tbody tr td:nth-child(3){
	width: 170px;
    text-align: center;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

.con_list table tbody tr td:nth-child(4){
	text-align: center;
}

.con_list table tbody tr td:nth-child(4)>div{
	float: left;
}

.con_list table tbody tr td:nth-child(4) input[type='text']{
    height: 40px;
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 90px;
}

.con_list table tbody tr td:nth-child(4) a{
    display: block;
    width: 100%;
    height: 42px;
}

.con_list table tbody tr td:nth-child(4)  i{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    background-color: #F4F5F7;
    font-weight: 700;
    font-size: 20px;
    color: #6d757a;
}

.con_list table tbody tr td:nth-child(4) a:hover i{
	background-color: #BABDC2;
}

.con_list table tbody tr td:nth-child(5){
    width: 200px;
    text-align: center;
    text-align: center;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

.con_list table tbody tr td:nth-child(6){
    width: 140px;
    text-align: center;
}

.con_list table tbody tr td:nth-child(6) a{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

.con_list table tbody tr td:nth-child(6) a:hover{
	color: red;
}

.con_total{
	width: 1160px;
	margin: 25px auto 0;
}

.con_total p.delete_all{
	float: left;
}

.con_total p.delete_all a{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

.con_total p.delete_all a:hover{
	color: #F25D8E;
}

.con_total .total_count{
	float: right;
	margin-top: 15px;	
    font-family: '微软雅黑';
    color: #99a2aa;
    font-size: 14px;
}

.con_total .total_count span{
    color: #222;
    font-size: 40px;
    float: right;
}

.con_total .total_count>div{
    margin-bottom: 35px;
}

.con_total .total_count div.select span{
    font-size: 25px;
}

.con_total .total_count .btn_link{
    margin: 100px 0 50px 0;
}
.con_total .total_count .btn_link button{
	width: 170px;
	height: 50px;
	margin-left: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	outline: none;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.con_total .total_count .btn_link button.shop_again{
	background-color: #F4F5F7;
}

.con_total .total_count .btn_link button.shop_again:hover{
	background-color: #DADEE4;
}

.con_total .total_count .btn_link button.payfor{
	color: #fff;
	background-color: #F25D8E;
	border: 1px solid #F25D8E;
}

.con_total .total_count .btn_link button.payfor:hover{
	background-color: #FF85AD;
}

/*footer底部样式*/

footer{
    width: 100%;
    min-width: 980px;
    background: #F6F9FA;
    padding: 25px 0;
}

footer .foot_top{
    width: 980px;
    margin: 0 auto;
}

footer .foot_top>div{
    float: left;
}

footer .foot_top div+div{
    margin-left: 110px;
}

footer .foot_top .bilibili{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

footer .foot_top .bilibili p{
    color: #99A2AA;
}

footer .foot_top .bilibili .about ul{
    float: left;
}

footer .foot_top .bilibili .about ul+ul{
    margin-left: 30px;
}

footer .foot_top .bilibili .about ul li{
    height: 30px;
    line-height: 30px;
}

footer .foot_top .bilibili .about ul li a{
    color: #222;
}

footer .foot_top .bilibili .about ul li a:hover{
    color: #31B2DD;
}

footer .foot_top .fast_link{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

footer .foot_top .fast_link .about ul{
    float: left;
}

footer .foot_top .fast_link .about ul+ul{
    margin-left: 30px;
}

footer .foot_top .fast_link .about ul li{
    height: 30px;
    line-height: 30px;
}

footer .foot_top .fast_link .about ul li a{
    color: #222;
}

footer .foot_top .fast_link .about ul li a:hover{
    color: #31B2DD;
}

footer .foot_top .fast_link p{
    color: #99A2AA;
}

footer .foot_top .focus{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

footer .foot_top .focus a{
    display: inline-block;
}

footer .foot_top .focus a:hover{
    color: #31B2DD;
}

footer .foot_top .focus dl{
    float: left;
    text-align: center;
    margin-right: 30px;
    position: relative;
}

footer .foot_top .focus dl dt{
    width: 60px;
    height: 60px;
    background: url(../img/index/icons.png)  no-repeat;
    margin: 0;
    padding: 0;
}

footer .foot_top .focus dl dt.phone{
    background-position:-1024px -194px ;
}

footer .foot_top .focus dl dt.phone_code{
    width: 130px;
    height: 130px;
    position: absolute;
    top: -141px;
    left: -34px;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    background: #fff url(../img/index/phonecode.png) 50% 50% no-repeat;
    border: 1px solid #E0E0E0;
}

footer .foot_top .focus dl dt.sina{
    background-position: -1024px -322px;
}

footer .foot_top .focus dl dt.sina_code{
    width: 130px;
    height: 130px;
    position: absolute;
    top: -141px;
    left: -34px;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    background: #fff url(../img/index/sinacode.png) 50% 50% no-repeat;
    border: 1px solid #E0E0E0;
}
footer .foot_top .focus dl dt.official{
    background-position: -1024px -66px;
}

footer .foot_top .focus dl dt.wechat_code{
    width: 260px;
    height: 150px;
    position: absolute;
    top: -161px;
    left: -100px;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    border: 1px solid #000;
    background: #fff url(../img/index/wechatcode.gif) 50% 50% no-repeat;
    border: 1px solid #E0E0E0;
}

footer .foot_top .focus dl dt.code_pic:after{
    content: '';
    display: block;
    width: 16px;
    height: 14px;
    background: url(../img/index/focusarrow.png) no-repeat;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
}

footer .foot_top .focus dl:hover dt.code_pic{
    opacity: 1;
    visibility: visible;
}

footer .foot_top .focus dl dd{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

footer .foot_bottom{
     width: 820px;
     margin: 30px auto 0;
     font-size: 12px;
     font-family: '微软雅黑';
     color: #99a2aa;
}

footer .foot_bottom .cooper{
    float: left;
    width: 100px;
    height: 80px;
    overflow: hidden;
    margin-left: -60px;
    margin-right: 10px;
}

footer .foot_bottom .foot_info{
    line-height: 25px;
}    

footer .foot_bottom .foot_info p:last-child{
    margin-left: 50px;
}

footer .foot_bottom .foot_info p:last-child a{
    font-size: 12px;
    font-family: '微软雅黑';
    color: #99a2aa;
}

footer .foot_bottom .foot_info p:last-child a:hover{
    color: #222;
}

/*返回顶部样式*/
.top_arrow{
	position: fixed;
	right: 10px;
	bottom: 160px;
	width: 46px;
    height: 48px;
    background: #f6f9fa url(../img/index/icons.png) -648px -72px no-repeat;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.top_arrow:hover{
    background-position: -713px -72px;
    background-color: #0092C2;
}
