html,body,ul,ol,li,a,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	font-size: 12px;
	color: #222;
}

i{
	font-style: normal;
}

b{
    font-weight: normal;
}

em{
    font-style: normal;
}

.clearfix:before,
.clearfix:after{
	content: ' ';
	display: table;
}

.clearfix:after{
	clear: both;
}

/*切换用户遮罩层*/
.switch_mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 99999;
    display: none;
}

/*切换用户对话框*/
.switch_dialog{
    width: 500px;
    height: 400px;
    background-color: #fff;
    border: 3px solid #00A7DE;
    position: absolute;
    z-index: 100000;
    border-radius: 4px;
    font-size: 12px;
    font-family: '微软雅黑';
    color: #222;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    display: none;
}

.switch_dialog .dialog_title{
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #00A7DE;
    cursor: move;
}

.switch_dialog .dialog_form{
    width: 400px;
    margin: 20px auto 0px;
}

.switch_dialog .dialog_form .input1,
.switch_dialog .dialog_form .input2{
    position: relative;
    border: 1px solid #E4E4E4;
    margin-bottom: 20px;
}

.switch_dialog .dialog_form .input1 input,
.switch_dialog .dialog_form .input2 input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
}

.switch_dialog .dialog_form .input1 p,
.switch_dialog .dialog_form .input2 p{
    position: absolute;
    top: 42px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    color: red;
    display: none;
}

.switch_dialog .dialog_form .input3{
    text-align: right;
    margin-bottom: 15px;
}

.switch_dialog .dialog_form .input3 a{
    color: #00A7DE;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;  
}

.switch_dialog .dialog_form .input3 a:hover{
    color: #F25D8E;
}

.switch_dialog .dialog_form .input4{

}

.switch_dialog .dialog_form .input4>input{
    width: 120px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.switch_dialog .dialog_form .input4 img{
    width: 110px;
    height: 40px;
    border: 1px solid #ddd;
    vertical-align: -16px;
    margin: 0 6px;
}

.switch_dialog .dialog_form .input4 a{
    color: #00A7DE;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.switch_dialog .dialog_form .input4 a:hover{
    color: #F25D8E;
}

.switch_dialog .dialog_form .input5{
    line-height: 40px;
}

.switch_dialog .dialog_form .input5 label{
    margin-right: 10px;
}

.switch_dialog .dialog_form .input5 span{
    color: #ccc;
}

.switch_dialog .dialog_form .input6 input[type='button'] {
    width: 178px;
    height: 38px;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #fff;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

.switch_dialog .dialog_form .input6 input:first-child{
    background-color: #00A7DE;
}

.switch_dialog .dialog_form .input6 input:first-child:hover{
    background-color: #00BEE7;
}

.switch_dialog .dialog_form .input6 input:last-child{
    margin-left: 40px;
    background-color: transparent;
    color: #222;
}

.switch_dialog .dialog_form .input6 input:last-child:hover{
     background-color: #ECECEC;
}

.switch_dialog .dialog_form .input7{
    margin-top: 15px;
}

.switch_dialog .dialog_form .input7 a{
    padding-left: 28px;
    background: url(../img/index/wechat_qq.png) no-repeat;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-right: 25px;
}

.switch_dialog .dialog_form .input7 a:last-child{
    background-position: 0 -41px;
}

/* header顶部样式 */
header{
	width: 100%;
	height: 180px;
	min-width: 981px;
	position: relative;
}

header div.top_nav{
	width: 100%;
	height: 42px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
}

header div.top_nav .top_nav_con{
	width: 981px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

header div.top_nav .top_nav_con>ul li{
	float: left;
	height: 100%;
}

header div.top_nav .top_nav_con>ul li a{
	color: #fff;
	font-size: 12px;
	display: inline-block;
	height: 100%;
	line-height: 42px;
	padding: 0 15px;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

header div.top_nav .top_nav_con>ul li a:hover{
	background: rgba(255,255,255,0.3);
}

header div.top_nav .top_nav_con .left_nav{
	float: left;
}

header div.top_nav .top_nav_con .left_nav li:first-child a:before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url(../img/index/icons.png) no-repeat -855px -88px;
    vertical-align: -3px;
    margin-right: 5px;
}

header div.top_nav .top_nav_con .right_nav{
	float: right;
}

header div.top_nav .top_nav_con .right_nav>li a.tgao{
    width: 58px;
    height: 48px;
    background: url(../img/index/tgao.png) no-repeat center center;
    text-align: center;
    padding: 0;
    transition: background 0.1s;
    -webkit-transition: background 0.1s;
}

header div.top_nav .top_nav_con .right_nav>li a.tgao:hover{
	 background: url(../img/index/tgaohover.png) no-repeat center center;
}

header div.top_nav .top_nav_con .right_nav>li.tgao_li{
	position: relative;
}

header div.top_nav .top_nav_con .right_nav>li ul.tgao_info a{
	color: #f25d8e;
}

header div.top_nav .top_nav_con .right_nav>li.tgao_li:hover ul.tgao_info{
	display: block;
}

header div.top_nav .top_nav_con .right_nav>li ul.tgao_info{
	width: 215px;
	background: #fff;
	position: absolute;
	top: 42px;
    right: 0px;
    border-radius: 0 0 5px 5px;
    display: none;
}

header div.top_nav .top_nav_con .right_nav >li ul.tgao_info li{
	float: left;
	width: 71px;
	text-align: center;
}

header div.top_nav .top_nav_con .right_nav >li ul.tgao_info li a{
	display: inline-block;
	width: 100%;
    padding: 0;
    margin: 0;
}

header div.top_nav .top_nav_con .right_nav >li ul.tgao_info li a:hover{
	background-color: rgb(229,233,239);
}


header div.top_nav .top_nav_con .right_nav >li ul.tgao_info li a i{
	display: block;
	background: url(../img/index/icons.png) no-repeat;
    position: relative;
    top: 8px;
}

header div.top_nav .top_nav_con .right_nav >li ul.tgao_info a i.i1{
    width: 20px;
    height: 20px;
    background-position: -471px -919px;
    margin-left: 26px;
}

header div.top_nav .top_nav_con .right_nav >li ul.tgao_info a i.i2{
	width: 20px;
	height: 20px;
	background-position: -471px -982px;
	margin-left: 26px;
}

header div.top_nav .top_nav_con .right_nav >li ul.tgao_info a i.i3{
	width: 20px;
	height: 20px;
	background-position: -472px -1751px;
	margin-left: 26px;
}

header .top_banner{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

header .top_banner a{
	display: block;
	width: 100%;
	height: 180px;
	background: url(../img/index/topbanner.png) no-repeat center center;
}

header .top_banner a img{
	position: absolute;
    top: 67px;
    left: 220px;
}

header div.top_nav .top_nav_con .user{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    left: 631px;
}

header div.top_nav .top_nav_con .user:hover a.user_img{
	transform: scale(2,2) translate(0px, 15px);
	-webkit-transform: scale(2,2) translate(0px, 15px);
	border-color: rgba(255,255,255,1);
}

header div.top_nav .top_nav_con .user:hover .info_box{
	height: 271px;
}


header div.top_nav .top_nav_con .user a.user_img{
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/index/userimg.jpg) no-repeat center center;
    background-size: cover;
    z-index: 201;
    border-radius: 50%;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    border: 2px solid rgba(255,255,255,0);
    position: relative;
}

header div.top_nav .top_nav_con .user .info_box{
    width: 260px;
    position: absolute;
    left: -110px;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    height: 0px;
    z-index: 200;
    overflow: hidden;
}

header div.top_nav .top_nav_con .user div.user_info{
	width: 260px;
	background: #fff;
	text-align: center;
	padding: 40px 18px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header div.top_nav .top_nav_con .user div.user_info .info_top{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .username{
	color: #222;
    font-size: 14px;
    font-weight: bold;
    font-family: '黑体';
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l{
	float: left;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l a b{
    font-weight: normal;
	vertical-align: 5px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l a:first-child:before{
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/index/icons.png) no-repeat -343px -471px;
	margin-right: 5px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_l a:last-child:before{
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/index/icons.png) no-repeat -407px -471px;
	margin-right: 5px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r{
	float: right;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a{
	display: inline-block;
	position: relative;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a:first-child{
	width: 18px;
	height: 18px;
	background: url(../img/index/icons.png) no-repeat -343px -534px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a:last-child{
	width: 18px;
	height: 18px;
	background: url(../img/index/icons.png) no-repeat -343px -599px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a span{
	display: block;
    width: 85px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    color: #222;
    background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	display: none;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a span.email{
	position: absolute;
    top: -1px;
    right: 22px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a span.phone{
	position: absolute;
    top: -1px;
    right: 22px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a i,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a em{
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #ccc;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	right: 14px;
	opacity: 0;
	filter: alpha(opacity=0); 
	display: none;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a em{
	border-left-color:#fff; 
    margin-top: -5px;
    right: -3px; 
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a .email_i{
    border-left-color: #ccc;
    margin-top: -4px;
    right: 14px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a .email_em{
    border-left-color: #fff;
    margin-top: -5px;
    right: -3px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.e_link:hover span,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.e_link:hover i,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.e_link:hover em{
	opacity: 1;
	filter: alpha(opacity=100); 
	display: block;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.p_link:hover span,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.p_link:hover i,
header div.top_nav .top_nav_con .user div.user_info .info_top .userdefaure .de_r a.p_link:hover em{
	opacity: 1;
	filter: alpha(opacity=100); 
	display: block;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel{
	position: relative;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox{
	display: block;
    width: 100%;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox i{
    font-size: 12px;
    color: #222;
    font-style: normal;
    float: left;
    font-family: '微软雅黑';
}
  
header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox>a{
	display: block;
    position: relative;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox>a .level_num{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    background: #ccc url(../img/index/Level-icons.png) no-repeat -153px -9px;
    position: absolute;
    top: -2px;
    left: 27px;
    z-index: 2;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .levelbox>a .level_line{
	display: inline-block;
	width: 180px;
	height: 8px;
	background: #ccc;
	position: absolute;
    top: 3px;
    left: 43px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info{
	width: 260px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    position: absolute;
    top: 100px;
    left: 260px;
    text-align: left;
    color: #676b73; 
    font-family: '微软雅黑'; 
    border-radius: 4px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info h2{
	font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info h2 strong{
    font-size: 14px;
    color: #222;
    padding: 0 3px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info ul li{
    font-size: 12px;
    margin-bottom: 6px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info p{
	text-align: right;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info p a{
	color: #00a1d6;
	margin-right: 10px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info p a:hover{
	color: #F25D8E;
	font-size: 12px;
    font-family: '微软雅黑'; 
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info i,
header div.top_nav .top_nav_con .user div.user_info .info_top .level_info i em{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #ccc;
	position: absolute;
	top: 12px;
    left: -30px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .level_info i em{
	border-right-color: #fff; 
	top: -15px;
    left: -14px;
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .ex{
    width: 100%;
    display: block;
    position: absolute;
    top: 13px;
    font-size: 14px;
    text-align: right;
    color: #ccc
}

header div.top_nav .top_nav_con .user div.user_info .info_top .userlevel .ex b{
	color: #222;
	font-weight: normal;
	font-size: 12px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid{
    margin-top: 10px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li{
	float: left;
	width: 90px;
    margin-right: 21px;
    margin-bottom: 10px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li a{
	display: inline-block;
	width: 100%;
	text-align: left;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li a:before{
	content: '';
	display: inline-block;
	background: url(../img/index/icons.png) no-repeat;
    margin-right: 8px;
    vertical-align: -2px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(1) a:before{
    width: 14px;
    height: 16px;
    background-position: -473px -407px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(1) a:hover:before{
	background-position: -537px -407px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(2) a:before{
    width: 16px;
    height: 15px;
    background-position: -536px -1047px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(2):hover a:before{
	background-position: -601px -1047px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(3) a:before{
    width: 18px;
    height: 12px;
    background-position: -472px -474px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(3):hover a:before{
	background-position: -536px -474px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(4) a:before{
    width: 18px;
    height: 15px;
    background-position: -473px -855px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li:nth-child(4):hover a:before{
	background-position: -537px -855px;
}

header div.top_nav .top_nav_con .user div.user_info .info_mid ul li a:hover{
	color: #00a1d6;
}

header div.top_nav .top_nav_con .user .user_out{
    width: 260px;
    height: 35px;
    line-height: 35px;
    background: #F4F5F7;
    text-align: right;
}

header div.top_nav .top_nav_con .user .user_out a{
	color: #222;
	font-size: 12px;
    margin-right: 10px;
}

header div.top_nav .top_nav_con .user .user_out a:hover{
	color: #00a1d6;
}

header div.top_nav .top_nav_con .switch_user{
    position: absolute;
    right: -100px;
    top: 10px;
}

header div.top_nav .top_nav_con .switch_user a{
    color: #fff;
    font-size: 12px;
    font-family: '微软雅黑';
    transition: color 0.2s ease;
}

header div.top_nav .top_nav_con .switch_user a:hover{
    color: #FFAFC9;
}

header .top_search{
    width: 350px;
    position: absolute;
    top: 120px;
    right: 192px;
    background: rgba(127,127,127,0.2);
    z-index: 10;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
}

header .top_search a.rank{
    display: inline-block;
    width: 70px;
    height: 35px;
    line-height: 35px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    color: #F25D8E;
    font-size: 12px;
    background: rgba(255,255,255,0.8);
    float: left;
    margin-right: 2px;
    border-radius: 3px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

header .top_search a.rank:before{
    content: '';
    display: inline-block;
    width: 19px;
    height: 16px;
    background: url(../img/index/icons.png) no-repeat -662px -663px;
    vertical-align: -2px;
    margin: 0 5px;
}

header .top_search a.rank:hover{
	background: #fff;
}

header .top_search a.input_border{
	display: inline-block;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

header .top_search a.input_border:hover{
	background: #fff;
}

header .top_search input{
    outline: none;
    border: none;
    width: 210px;
    height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 12px;
    float: left;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.8);
    padding: 0 10px;
}

header .top_search button{
	outline: none;
    cursor: pointer;
    display: block;
    width: 44px;
    height: 35px;
    background: rgba(255,255,255,0.8) url(../img/index/icons.png) no-repeat -653px -720px;
    margin: 0;
    padding: 0px;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}

header .top_search button:hover{
	background-position: -718px -720px;
}

header .top_search .history_search{
    width: 274px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 74px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    display: none;
}

header .top_search .history_search .history_title{
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
    position: relative;
    color: #ccc;
}

header .top_search .history_search .history_title:before,
header .top_search .history_search .history_title:after{
    content: '';
    display: inline-block;
    width: 98px;
    height: 1px;
    background: #ccc;
    vertical-align: 3px;
    position: absolute;
    top: 15px;
}

header .top_search .history_search .history_title:before{
    left: 10px;
}

header .top_search .history_search .history_title:after{
    right: 10px;	
}

header .top_search .history_search ul li{
	height: 25px;
	line-height: 25px;
}

header .top_search .history_search ul li a:after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/index/icons.png) no-repeat -470px -531px;
    position: absolute;
    right: 20px;
    top: 0px;
}

header .top_search .history_search ul li a{
	width: 100%;
	height: 100%;
	display: block;
	padding-left: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
}

header .top_search .history_search ul li:hover{
	background: #e5e9ef;
}

header .top_search .history_search ul li:hover a:after{
	background-position: -534px -531px;
}


/*主体内容*/    
.main_con{
    width: 981px;
    margin: 15px auto;
}

.main_nav{
    width: 100%;
}

.main_nav .nav_top{
    width: 100%;
    border-bottom: 1px solid #E5E9EF;
}

.main_nav .nav_top .top_lf{
    float: left;
}

.main_nav .nav_top .top_lf>ul>li{
    float: left;
    margin-right: 19px;
    text-align: center;
    position: relative;
    height: 43px; /*加高度后li hover上去的时候.list出现，然后鼠标从li移动到.list上时，.list不会消失。*/
    position: relative;
}

.main_nav .nav_top .top_lf>ul>li.on:after{
    content: '';
    display: block;
    width: 34px;
    height: 2px;
    background-color: #00A1D6;
    position: absolute;
    top: 48px;
    left: 0px;
}

.main_nav .nav_top .top_lf>ul>li.on a{
    color:#00a1d6;
}

.main_nav .nav_top .top_lf>ul>li:hover .list{
    display: block;
}

.main_nav .nav_top .top_lf>ul>li a{
    font-size: 12px;
    color: #222;
}

.main_nav .nav_top .top_lf>ul>li a:hover{
    color:#00a1d6;
}

.main_nav .nav_top .top_lf>ul>li a em{
    display: block;
    width: 20px;
    height: 16px;
    background: url(../img/index/icons.png) no-repeat -663px -1176px;
    margin-left: 3px;
}

.main_nav .nav_top .top_lf>ul>li a span{
    display: block;
    background: #FFAFC9;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 0px 5px;
    border-radius: 4px;
    margin-top: 2px;
}

.main_nav .nav_top .top_lf .list{
    width: 120px;
    background: #fff;
    position: absolute;
    top: 43px;
    left: -5px;
    margin: 0px;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 100;
}

.main_nav .nav_top .top_lf .list li{
    margin: 0px;
    float: none;
    height: 30px;
    line-height: 30px;
    text-align: left;
}       

.main_nav .nav_top .top_lf .list li:hover{
    background: #E5E9EF;
}

.main_nav .nav_top .top_lf .list li:hover a{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
}

.main_nav .nav_top .top_lf .list li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.main_nav .nav_top .top_lf .list li a:hover{
    color: #222;
}

.main_nav .nav_top .top_lf .list li a:before,
.main_nav .nav_top .top_lf .list li a:after{
    content: '';
    display: inline-block;
    width: 5px;
    height: 7px;
    background: url(../img/index/icons2.png) no-repeat -1px -1625px; 
    margin: 0 8px;
}

.main_nav .nav_top .top_lf .list li a:after{
    background-position: -1px -1588px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transform: translateX(70px);
    -webkit-transform: translateX(70px);
}

.main_nav .nav_top .top_lf .list li:hover a:after{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.main_nav .nav_top .top_rt{
    float: right;
}

.main_nav .nav_top .top_rt ol{
    float: left;
    margin-top: 6px;
}

.main_nav .nav_top .top_rt ol>li{
    float: left;
    margin-right: 18px;
    position: relative;
    height: 43px;/*加高度后li hover上去的时候.activity出现，然后鼠标从li移动到.activity上时，.activity不会消失。中间不留空白缝隙，才能让.activity不会消失*/
}

.main_nav .nav_top .top_rt li a{
    font-size: 14px;
    color: #222;
}

.main_nav .nav_top .top_rt li a:hover{
    color:#00a1d6;
}

.main_nav .nav_top .top_rt li a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/index/icons.png) no-repeat;
    vertical-align: -6px;
    margin-right: 3px;
}

.main_nav .nav_top .top_rt li a i.i_squre{
    background-position: -663px -920px;
}

.main_nav .nav_top .top_rt li a i.i_anchor{
    background-position: -663px -535px;
}

.main_nav .nav_top .top_rt li a i.i_balckhouse{
    background-position: -727px -535px;
}

.main_nav .nav_top .top_rt ol>li:hover .activity{
    display: block;
    z-index: 50;
}

.main_nav .nav_top .top_rt .activity{
    position: absolute;
    top: 40px;
    left: 0px;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
    width: 387px;
    height: 188px;
    box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
    border-radius: 0 0 4px 4px;
    display: none;
}

.main_nav .nav_top .top_rt .activity .con_left{
    width: 107px;
    float: left;
}

.main_nav .nav_top .top_rt .activity .con_left ul li{
    height: 30px;
    line-height: 30px;
}

.main_nav .nav_top .top_rt .activity .con_left ul li:hover{
    background: #E5E9EF;
}

.main_nav .nav_top .top_rt .activity .con_left ul li a{
    display: block;
    height: 100%;
    color: #222;
    font-size: 12px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.main_nav .nav_top .top_rt .activity .con_left ul li:hover a{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
}

.main_nav .nav_top .top_rt .activity .con_left ul li a:hover{
    color: #222;
}

.main_nav .nav_top .top_rt .activity .con_left ul li a em{
    display: inline-block;
    background:url(../img/index/icons.png) no-repeat;
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.main_nav .nav_top .top_rt .activity .con_left ul li a em.a{
    width: 15px;
    height: 12px;
    background-position: -282px -1179px;
}

.main_nav .nav_top .top_rt .activity .con_left ul li a em.g{
    width: 15px;
    height: 12px;
    background-position: -282px -1241px;    
}

.main_nav .nav_top .top_rt .activity .con_left ul li a em.n{
    width: 15px;
    height: 12px;
    background-position: -282px -1308px;    
}

.main_nav .nav_top .top_rt .activity .con_left ul li a em.p{
    width: 15px;
    height: 12px;
    background-position: -282px -1370px;    
}

.main_nav .nav_top .top_rt .activity .con_left ul li a em.m{
    width: 15px;
    height: 12px;
    background-position: -282px -1433px;    
}

.main_nav .nav_top .top_rt .activity .con_right{
    float: right;
    width: 240px;
    border-left: 1px solid #e5e9ef;
    padding-left: 20px;
    padding-right: 18px;
}

.main_nav .nav_top .top_rt .activity .con_right a{
    display: block;
    margin-bottom: 20px;
}

.main_nav .nav_top .top_rt .activity .con_right a:last-child{
    margin-bottom: 0;
}

.main_nav .nav_bottom{
    width: 100%;
}

.main_nav .nav_bottom .bottom_lf{
    float: left;
    width: 50%;
}

.main_nav .nav_bottom .bottom_lf .info{
    font-family: '微软雅黑';
}

.main_nav .nav_bottom .bottom_lf .info h2{
    margin: 0;
    height: 24px;
    line-height: 24px;
    color: #525659;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    font-size: 20px;
    padding: 20px 0 15px 0;
}

.main_nav .nav_bottom .bottom_lf .info p{
    margin: 0;
    padding: 0;
    color: #99a2aa;
    font-size: 12px;
    margin-bottom: 20px;
}

.main_nav .nav_bottom .bottom_lf .info p a{
    color: #99a2aa;
    font-size: 12px;
}

.main_nav .nav_bottom .bottom_lf .info p a:hover{
    color: #00a1d6;
}

.main_nav .nav_bottom .bottom_lf .info p.bread_nav>span{
    margin-right: 65px;
}

.main_nav .nav_bottom .bottom_lf .info .video_info{

}

.main_nav .nav_bottom .bottom_lf .info .video_info span{
    display: inline-block;
    position: relative;
}

.main_nav .nav_bottom .bottom_lf .info .video_info span.watch_num{
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding-left: 30px;
    background: url(../img/index/icons.png) no-repeat -659px -210px;   
}

.main_nav .nav_bottom .bottom_lf .info .video_info span.danmu_num{
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding-left: 30px;
    background: url(../img/index/icons.png) no-repeat -659px -275px;    
}

.main_nav .nav_bottom .bottom_lf .info .video_info span.bi_num{
    padding-left: 50px;
    margin-left: 50px;
    vertical-align: -1px;
    cursor: pointer;
}

.main_nav .nav_bottom .bottom_lf .info .video_info span.bi_num i{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: url(../img/video/anim-coin-small.png) no-repeat;
    position: absolute;
    top: -25px;
    left: 0px;
    z-index: -1;
}

.main_nav .nav_bottom .bottom_lf .info .video_info span.collect_num{
    padding-left: 50px;
    margin-left: 10px;
    vertical-align: -1px;
    cursor: pointer;
} 

.main_nav .nav_bottom .bottom_lf .info .video_info span.collect_num i{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: url(../img/video/anim-collect.png) no-repeat;
    position: absolute;
    top: -25px;
    left: 0px;
    z-index: -1;
}

.main_nav .nav_bottom .bottom_rt{
    float: right;
    width: 50%;
    font-size: 12px;
    font-family: '微软雅黑';
    color: #222;
    position: relative;
}

.main_nav .nav_bottom .bottom_rt .author_img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 180px;
}

.main_nav .nav_bottom .bottom_rt .author_img a{
    display: block;
    width: 100%;
    height: 100%;
}

.main_nav .nav_bottom .bottom_rt>span{
    display: block;
    width: 75px;
    height: 24px;
    background: url(../img/video/icon-live.gif) no-repeat;
    position: absolute;
    text-align: center;
    line-height: 24px;
    padding-left: 5px;
    top: 20px;
    left: 105px;
}


.main_nav .nav_bottom .bottom_rt .author_info{
    float: right;
    width: 225px;
    position: relative;
    top: 30px;
}

.main_nav .nav_bottom .bottom_rt .author_info h4{
    color: #00A1D6;
    font-size: 16px;
    font-weight: normal;
    margin:0;
}

.main_nav .nav_bottom .bottom_rt .author_info p{
    margin: 0px;
    line-height: 20px;
    margin-bottom: 10px;
}

.main_nav .nav_bottom .bottom_rt .author_info p a{
    display: inline-block;
    width: 35px;
    height: 20px;
    border-radius: 5px;
    color: #00A1D6;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}    

.main_nav .nav_bottom .bottom_rt .author_info p a:hover{
    background-color: #E5E9EF;
}

.main_nav .nav_bottom .bottom_rt .author_info span{
    color: #ccc;
    margin-right: 40px;
}

.main_nav .nav_bottom .bottom_rt .author_info a.focus{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #00A1D6;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.main_nav .nav_bottom .bottom_rt .author_info a.focus:hover{
    background-color: #00B5E5;
    text-shadow: 0px 0px 1px #fff;
}

/* 多part、分享、视频切换 样式*/
.choose{
    border: 1px solid #E5E9EF;
    border-left: none;
    border-right: none;
    background-color: #F6F9FA;
    margin-top: 30px;
}

.choose .item_list{
    width: 981px;
    margin: 40px auto 0;
}

.choose .item_list ul{
    float: left;
    width: 880px;
    overflow: hidden;
}

.choose .item_list ul li{
    width: 200px;
    height: 30px;
    border: 1px solid #E5E9EF;
    border-radius: 10px;
    float: left;
    margin-right: 18px;
    margin-bottom: 15px;
    background-color: #fff;
    line-height: 30px;
    box-sizing: border-box;
}

.choose .item_list ul li a{
    display: block;
    width: 200px;
    height: 30px;
    font-size: 14px;
    font-family: '微软雅黑';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.choose .item_list ul li a:hover,
.choose .item_list a.show_hide:hover{
    color: #fff;
    background-color: #00A1D6;
}

.choose .item_list a.show_hide{
    display: block;
    width: 60px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: right;
    text-align: center;
    line-height: 25px;
    background-color: #fff;
    display: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.choose .share{
    width: 690px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 190px;
    margin-bottom: 60px;
    position: relative;
    top: 25px;
    left: -5px;
    z-index: 20;
}

.choose .share h3{
    margin: 0;
    padding: 0;
    margin-top: -8px;
    margin-left: 30px;
    width: 45px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 28px;
}

.choose .share h3:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #000;
    position: absolute;
    top: 17px;
    left: 45px;
}

.choose .share ul{
    position: absolute;
    left: 90px;
    top: 50%;
    margin-top: -17px;
}

.choose .share ul li{
    float: left;
    width: 36px;
    height: 36px;
    margin-left: 40px;
}

.choose .share ul li a{
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/index/icons.png) no-repeat;
}

.choose .share ul li a.weibo:hover{
    background-position: -1429px -588px
}

.choose .share ul li a.weibo{
    background-position: -1359px -588px
}

.choose .share ul li a.qqzone:hover{
    background-position: -1429px -728px
}

.choose .share ul li a.qqzone{
    background-position: -1359px -728px
}

.choose .share ul li a.qq:hover{
    background-position: -1429px -798px
}

.choose .share ul li a.qq{
    background-position: -1359px -798px
}

.choose .share ul li a.tieba:hover{
    background-position: -1429px -658px
}

.choose .share ul li a.tieba{
    background-position: -1359px -658px
}

.choose .share .share_link{
    width: 650px;
    height: 236px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    position: absolute;
    top: 80px;
    overflow: hidden;
    display: none;
}

.choose .share .share_link .urls{
    float: left;
}

.choose .share .share_link .urls p{
    margin: 0;
    padding: 0;
    margin: 10px 0px;
}

.choose .share .share_link .urls h4{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #333;
    margin: 20px 0 20px 10px;
    line-height: 24px;
}

.choose .share .share_link .urls p span{
    display: inline-block;
    width: 80px;
    font-size: 15px;
    font-family: '微软雅黑';
    color: #222;
    margin-left: 10px;
}

.choose .share .share_link .urls p input{
    width: 240px;
    height: 20px;
    padding: 2px 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    font-family: '微软雅黑';
    color: #222;
}

.choose .share .share_link .urls p button{
    display: inline-block;
    width: 40px;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    background: #00a1d6;
    color: #fff;
    line-height: 20px;
}

.choose .share .share_link .code{
    float: right;
    margin: 20px 50px 20px 0px;
}

.choose .share .share_link .code h4{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #333;
    line-height: 24px;
    margin-bottom: 20px;
}

.choose .share .share_link .code i{
    display: block;
    width: 97px;
    height: 97px;
    background: url(../img/video/wechat.png) no-repeat center;
    margin-left: 10px;
}

.choose .share .share_link .line{
    width: 1px;
    height: 150px;
    border-left: 1px solid #ccc;
    display: block;
    position: absolute;
    top: 30px;
    left: 430px;
}

.choose .another{
    width: 690px;
    font-family: '微软雅黑';
    color: #222;
    margin-left: 190px;
    margin-bottom: 170px;
}

.choose .another h2{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
}

.choose .another .another_list{
    width: 100%;
    margin-top: 25px;
    position: relative;
}

.choose .another .another_list .avideo{
    width: 100%;
    opacity:0;
    filter: alpha(opacity=0); 
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.choose .another .another_list .avideo.full_op{
    opacity:1;
    filter: alpha(opacity=100); 
}

.choose .another .another_list .avideo a{
    display: block;
    float: left;
    margin-right: 16px;
    transition: all 0.2s ease-in-out;
}

.choose .another .another_list .avideo a:hover{
    color: #0092C2;
}

.choose .another .another_list .avideo dl{
    width: 160px;
    margin: 0;
}

.choose .another .another_list .avideo a:nth-child(4n){
    margin-right: 0px;
}

.choose .another .another_list .avideo dl dt{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.choose .another .another_list .avideo dl dt img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.choose .another .another_list .avideo dl dd{
    margin: 0;
    word-break: break-all;
    height: 27px;
    overflow: hidden;
}

.choose .another .another_list a.prev,
.choose .another .another_list a.next{
    width: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    margin-top: 20px;
    display: none;
}

.choose .another .another_list a.prev{
    left: 0px;
}

.choose .another .another_list a.next{
    right: 0px;
}

/*评论点赞回复样式*/

.comment{
    width: 690px;
    margin-left: 190px;
    font-size: 12px; 
    font-family: '微软雅黑';
    color: #222;
    margin-top: 50px;
}

.comment .com_title{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.comment .com_title span{
    color: #00A1D6;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #00A1D6;
    padding-bottom: 13px;
    position: relative;
}

.comment .com_title span:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #00A1D6;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -2px;   
}

.comment .com_self{
    width: 100%;
    margin-top: 30px;
}

.comment .com_self .my_face{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.comment .com_self .my_face img{
    width: 100%;
    height: 100%;
}

.comment .com_self .com_enter{
    float: right;
    border-bottom: 1px solid #E5E9EF;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.comment .com_self .com_enter .com_area{
    width: 520px;
    height: 80px;
    outline: none;
    border: 1px solid #ccc;
    background-color: #F4F5F7;
    margin: 0;
    padding: 0;
    resize: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    font-family: '微软雅黑';
}

.comment .com_self .com_enter .enter_btn{
    width: 90px;
    height: 82px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #00A1D6;
    color: #fff;
    font-size: 14px;
    font-family: '微软雅黑';
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: 43px;
    cursor: pointer;
    outline: none;
}

.comment .com_self .com_enter .enter_btn.mover{
    background-color: #00ADDA;
}

.comment .com_self .com_enter .com_area.mover{
    border-color: #00ADDA;
    background-color: #fff;
}

.comment .com_content{
    width: 100%;
}

.comment .com_content .user_comment{
    width: 100%;
    margin-bottom: 20px;
}

.comment .com_content .user_comment .user_face{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

.comment .com_content .user_comment .user_face a{
    display: block;
    width: 100%;
    height: 100%;
}

.comment .com_content .user_comment .user_face a img{
    width: 100%;
    height: 100%;
}

.comment .com_content .user_comment .user_contxt{
     float: left;
     width: 612px;
     border-bottom: 1px solid #E5E9EF;
    /* padding-bottom: 10px;*/
}

.comment .com_content .user_comment .user_contxt .user_txt .userid a{
    font-size: 12px;
    font-family: '微软雅黑';
    font-weight: 400;
    color: #6d757a;
}

.comment .com_content .user_comment .user_contxt .user_txt .userid a:hover{
    color: #00ADDA;
}

.comment .com_content .user_comment .user_contxt .user_txt .user_maincom{
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
    line-height: 20px;
    word-break: break-all;
}

.comment .com_content .user_comment .user_contxt  .operation{
    color: #99A2AC;
}

.comment .com_content .user_comment .user_contxt  .operation span{
    margin-right: 20px;
}

.comment .com_content .user_comment .user_contxt  .operation a{
    color: #99A2AC;
    
}

.comment .com_content .user_comment .user_contxt  .operation a.del{
    visibility: hidden;
    padding: 5px 5px;
}

.comment .com_content .user_comment .user_contxt  .operation a.del:hover{
    color:#00A1D6;
    background-color: #E5E9EF;
}

.comment .com_content .user_comment .user_contxt  .operation .like{
    padding-left: 18px;
    background: url(../img/video/icons-comment.png) no-repeat -154px -23px;
}

.comment .com_content .user_comment .user_contxt  .operation .like:hover{
    background-position: -218px -23px;
}

.comment .com_content .user_comment .user_contxt  .operation .like.onlike{
    background-position: -154px -89px;
}


.comment .com_content .user_comment .user_contxt  .operation .unlike{
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url(../img/video/icons-comment.png) no-repeat -154px -153px;
    vertical-align: -3px;
}

.comment .com_content .user_comment .user_contxt  .operation .unlike:hover{
    background-position: -218px -153px;
}

.comment .com_content .user_comment .user_contxt  .operation .unlike.light{
    background-position: -154px -217px;
}

.comment .com_content .user_comment .user_contxt  .operation .reply,
.comment .com_content .user_comment .user_contxt  .operation .report,
.comment .com_content .user_comment .user_contxt  .operation .backlist{
    padding: 5px 5px;
}

.comment .com_content .user_comment .user_contxt  .operation .reply:hover,
.comment .com_content .user_comment .user_contxt  .operation .report:hover,
.comment .com_content .user_comment .user_contxt  .operation .backlist:hover{
    color: #00A1D6;
    background-color: #E5E9EF;
}

.comment .com_content .user_comment   .operation .report,
.comment .com_content .user_comment   .operation .backlist{
    visibility: hidden;
}

.comment .com_content .user_comment .user_contxt .reply_com{
    margin-top: 35px;
    overflow: hidden;
}

.comment .com_content .user_comment .user_contxt .reply_com li{
    margin-bottom: 20px;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_face{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_face a{
    display: block;
    width: 100%;
    height: 100%;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_face a img{
    width: 100%;
    height: 100%;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_con{
    float: left;
    width: 568px;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_con p{
    margin: 5px 0 15px 0;
    line-height: 18px;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_con .userid{
    font-size: 12px;
    font-family: '微软雅黑';
    font-weight: 400;
    color: #6d757a;
    margin-right: 5px;
}

.comment .com_content .user_comment .user_contxt .reply_com li .reply_con .userid:hover{
    color: #00ADDA;
}

.comment .com_content .user_comment .user_contxt .reply_input .com_enter{
    border-bottom: none;
} 

.comment .com_content .user_comment .user_contxt .reply_input .com_area{
    width: 455px;
    height: 70px;
    color: #6d757a;
}

.comment .com_content .user_comment .user_contxt .reply_input .com_area:focus{
    border-color: #00ADDA;
    background-color: #fff;
}
 
.comment .com_content .user_comment .user_contxt .reply_input .com_area:blur{
    background-color: #fff;
}

.comment .com_content .user_comment .user_contxt .reply_input .enter_btn{
    width: 82px;
    height: 70px;
    vertical-align: 38px;
}

 
 /*footer底部样式*/

footer{
    width: 100%;
    min-width: 980px;
    background: #F6F9FA;
    padding: 25px 0;
}

footer .foot_top{
    width: 980px;
    margin: 0 auto;
}

footer .foot_top>div{
    float: left;
}

footer .foot_top div+div{
    margin-left: 110px;
}

footer .foot_top .bilibili{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

footer .foot_top .bilibili p{
    color: #99A2AA;
}

footer .foot_top .bilibili .about ul{
    float: left;
}

footer .foot_top .bilibili .about ul+ul{
    margin-left: 30px;
}

footer .foot_top .bilibili .about ul li{
    height: 30px;
    line-height: 30px;
}

footer .foot_top .bilibili .about ul li a{
    color: #222;
}

footer .foot_top .bilibili .about ul li a:hover{
    color: #31B2DD;
}

footer .foot_top .fast_link{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

footer .foot_top .fast_link .about ul{
    float: left;
}

footer .foot_top .fast_link .about ul+ul{
    margin-left: 30px;
}

footer .foot_top .fast_link .about ul li{
    height: 30px;
    line-height: 30px;
}

footer .foot_top .fast_link .about ul li a{
    color: #222;
}

footer .foot_top .fast_link .about ul li a:hover{
    color: #31B2DD;
}

footer .foot_top .fast_link p{
    color: #99A2AA;
}

footer .foot_top .focus{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #222;
}

footer .foot_top .focus a{
    display: inline-block;
}

footer .foot_top .focus a:hover{
    color: #31B2DD;
}

footer .foot_top .focus dl{
    float: left;
    text-align: center;
    margin-right: 30px;
    position: relative;
}

footer .foot_top .focus dl dt{
    width: 60px;
    height: 60px;
    background: url(../img/index/icons.png)  no-repeat;
    margin: 0;
    padding: 0;
}

footer .foot_top .focus dl dt.phone{
    background-position:-1024px -194px ;
}

footer .foot_top .focus dl dt.phone_code{
    width: 130px;
    height: 130px;
    position: absolute;
    top: -141px;
    left: -34px;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    background: #fff url(../img/index/phonecode.png) 50% 50% no-repeat;
    border: 1px solid #E0E0E0;
}

footer .foot_top .focus dl dt.sina{
    background-position: -1024px -322px;
}

footer .foot_top .focus dl dt.sina_code{
    width: 130px;
    height: 130px;
    position: absolute;
    top: -141px;
    left: -34px;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    background: #fff url(../img/index/sinacode.png) 50% 50% no-repeat;
    border: 1px solid #E0E0E0;
}
footer .foot_top .focus dl dt.official{
    background-position: -1024px -66px;
}

footer .foot_top .focus dl dt.wechat_code{
    width: 260px;
    height: 150px;
    position: absolute;
    top: -161px;
    left: -100px;
    visibility: hidden;
    opacity: 0;
    z-index: 100000;
    border: 1px solid #000;
    background: #fff url(../img/index/wechatcode.gif) 50% 50% no-repeat;
    border: 1px solid #E0E0E0;
}

footer .foot_top .focus dl dt.code_pic:after{
    content: '';
    display: block;
    width: 16px;
    height: 14px;
    background: url(../img/index/focusarrow.png) no-repeat;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
}

footer .foot_top .focus dl:hover dt.code_pic{
    opacity: 1;
    visibility: visible;
}

footer .foot_top .focus dl dd{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

footer .foot_bottom{
     width: 820px;
     margin: 30px auto 0;
     font-size: 12px;
     font-family: '微软雅黑';
     color: #99a2aa;
}

footer .foot_bottom .cooper{
    float: left;
    width: 100px;
    height: 80px;
    overflow: hidden;
    margin-left: -60px;
    margin-right: 10px;
}

footer .foot_bottom .foot_info{
    line-height: 25px;
}    

footer .foot_bottom .foot_info p:last-child{
    margin-left: 50px;
}

footer .foot_bottom .foot_info p:last-child a{
    font-size: 12px;
    font-family: '微软雅黑';
    color: #99a2aa;
}

footer .foot_bottom .foot_info p:last-child a:hover{
    color: #222;
}

/*返回顶部样式*/
.top_arrow{
    position: fixed;
    right: 10px;
    bottom: 160px;
    width: 46px;
    height: 48px;
    background: #f6f9fa url(../img/index/icons.png) -648px -72px no-repeat;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.top_arrow:hover{
    background-position: -713px -72px;
    background-color: #0092C2;
}

