/*引入字体*/
@font-face {
	font-family: "Raphaelicons";
	src: url('../fonts/raphaelicons-webfont.eot') format('eot'),
         url('../fonts/raphaelicons-webfont.svg') format('svg'),
         url('../fonts/raphaelicons-webfont.ttf') format('ttf'),
         url('../fonts/raphaelicons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Georgia, serif;
    background: #ddd;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #555;
}

.clr {
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    padding: 0;
    margin: 0;
}

.st-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    font-family: "Josefin Slab", "Myriad Pro", Arial, sans-serif;
}

.st-container > input,
.st-container > a {
	display: inline-block;
    width: 20%;
    height: 34px;
    line-height: 34px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}

.st-container > input {
    opacity: 0;
    z-index: 1000;
}

.st-container > a {
    z-index: 10;
    font-weight: 700;
    font-size: 16px;
    background: #e23a6e;
    text-align: center;
    color: #fff;
    transition: background 0.3s ease;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2)
}

#st-container-1,
#st-container-1 + a {
    left: 0%;
}

#st-container-2,
#st-container-2 + a {
    left: 20%;
}

#st-container-3,
#st-container-3 + a {
    left: 40%;
}

#st-container-4,
#st-container-4 + a {
    left: 60%;
}

#st-container-5,
#st-container-5 + a {
    left: 80%;
}

.st-container input:checked + a {
	background: #821134;
}

.st-container input:checked + a:after {
	content: "";
	width: 0;
	height: 0;
	overflow: hidden;
	border: 20px solid transparent;
	border-bottom-color: #821134;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -20px
}

.st-container input:hover:not(:checked) + a {
	background: #AD244F;
}

#st-container-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

#st-container-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

#st-container-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

#st-container-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}

#st-container-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}

.st-scroll, .st-panel {
    width: 100%;
    height: 100%;
    position: relative;
}

.st-scroll {
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    transition:all 0.6s ease-in-out;
}

.st-panel {
    background: #fff;
    overflow: hidden;
}

.st-desc {
	width: 200px;
	height: 200px;
	background: #fa96b5;
	position: absolute;
	left: 50%;
	top:0%;
	margin-left: -100px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 90px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    -webkit-transform: rotate(-45deg) translateY(25%);
    -moz-transform: rotate(-45deg) translateY(25%);
    -ms-transform: rotate(-45deg) translateY(25%);
    -o-transform: rotate(-45deg) translateY(25%);
    transform: rotate(-45deg) translateY(25%);
    font-family: "Raphaelicons";
    text-shadow: 1px 1px 1px rgba(151,25,64,0.2);
}

.st-panel h2 {
	color: #e23a6e;
	font-size: 54px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top: -150px;
    text-shadow: 2px 2px 3px rgba(151,25,64,0.2);
}

.st-panel p {
    position: absolute;
    width: 60%;
    left: 25%;
    top: 50%;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: #8b8b8b;
    margin-top: 10px;
    margin-left: -60px;
}

.st-panel:nth-child(even) {
    background: #fa96b5;
}

.st-panel:nth-child(even) .st-desc {
    background: #fff;
}

.st-panel:nth-child(even) [data-icon]:after {
    color: #fa96b5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.st-panel:nth-child(even) h2 {
    color: #FFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.st-panel:nth-child(even) p {
    color: rgba(255,255,255,0.8);
}

#st-container-1:checked ~ .st-scroll #st-panel-1 h2,
#st-container-2:checked ~ .st-scroll #st-panel-2 h2,
#st-container-3:checked ~ .st-scroll #st-panel-3 h2,
#st-container-4:checked ~ .st-scroll #st-panel-4 h2,
#st-container-5:checked ~ .st-scroll #st-panel-5 h2 {
	-webkit-animation:moveDown 2s ease-in-out 0.2s backwards;
	-moz-animation:moveDown 2s ease-in-out 0.2s backwards;
	-o-animation:moveDown 2s ease-in-out 0.2s backwards;
	-ms-animation:moveDown 2s ease-in-out 0.2s backwards;
	animation:moveDown 2s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown {
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes moveDown {
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@-o-keyframes moveDown {
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@-ms-keyframes moveDown {
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@keyframes moveDown {
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

#st-container-1:checked ~ .st-scroll #st-panel-1 p,
#st-container-2:checked ~ .st-scroll #st-panel-2 p,
#st-container-3:checked ~ .st-scroll #st-panel-3 p,
#st-container-4:checked ~ .st-scroll #st-panel-4 p,
#st-container-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation:moveUp 2s ease-in-out 0.2s backwards;
	-moz-animation:moveUp 2s ease-in-out 0.2s backwards;
	-o-animation:moveUp 2s ease-in-out 0.2s backwards;
	-ms-animation:moveUp 2s ease-in-out 0.2s backwards;
	animation:moveUp 2s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp {
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes moveUp {
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@-o-keyframes moveUp {
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@-ms-keyframes moveUp {
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@keyframes moveUp {
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@media screen and (max-width: 1160px) {
    .st-panel p {
        width: 60%;
        margin-left: -50px;
    }
}

@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 30px;
	}

	.st-panel p {
		width: 80%;
		margin-left: -70px;
	}

	.st-container > a {
       font-size: 10px;
   }
}



