
body {overflow-x:hidden;}
/*中间分类部分开始*/
.grid {
    height: 480px;
    position: relative;
}
.grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    font-size: 14px;
    color: #fff;
    position: relative;
}
.grid-col1 .year {
    position: absolute;
    top: -60px;
    left: -355px;
    z-index: -1; /*让图片有一个先后顺序出现*/
}
.grid-col1 a {
    font-size: 14px;
    color: #fff;
    margin: 0 3px;
}
.grid-col1 ul {
    margin-top: 10px;
}
.grid-col1 ul li {
    padding-left: 12px;
    height: 26px;
    line-height: 26px;
}
.grid-col1 ul li a:hover {
    color: #f10215;
}

/*中间部分图片部分开始*/
.grid-col2 {
    width: 790px;
    height: 100%;
    margin-left: 10px;
}
.grid-col2 .max-picture {
    margin-top: 8px;
}
.grid-col2 .picture {
    width: 591px;
    height: 473px;
    position: relative;
}
.grid-col2 .picture li{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.grid-col2 .picture .current {
    display: block;
}
.grid-col2 .min-picture {
    width: 190px;
    height: 100%;
}
.grid-col2 .min-picture img {
    display: block;
    margin-top: 8px;
}
.grid .grid-col4 {
    background-color: #ffffff;
    box-sizing: border-box;
    padding:22px 13px 22px 25px;
    width: 1000px;
    height: 480px;
    left: 190px;
    top: 0px;
    position: absolute;
    box-shadow: -2px -1px 8px #ccc;
    z-index: 3;
    display: none;
}

.grid-col4 .category_navigation{
    height: 25px;
    width: 800px;
}

.grid-col4 .category_Image{
    height: 436px;
    width: 162px;
}

.grid-col4 .category{
    height: 411px;
    width: 800px;
}
.grid-col4 .category_Image .category_top{
    width: 162px;
    height: 173px;
}
.category_top ul li img{
    width: 80px;
    height: 38px;
    display: block;
    margin-right: 1px;
    margin-bottom: 1px;
}

/*清除浮动,让div可以让里面浮动的元素撑开：开始*/
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*清除浮动,让div可以让里面浮动的元素撑开：结束*/
.category_Image .category_bottom img{
    width: 162px;
    height: 131px;
    float: left;
}
.category_Image .category_bottom img:nth-child(1){
    margin-bottom: 1px;
}

/*分类的导航栏：开始*/
.category_navigation .navigation li{
    float: left;
    margin-right: 15px;
    background-color: #333333;
}
.category_navigation .navigation li a{
    box-sizing: border-box;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #fff;
    height: 25px;
    line-height: 25px;
    display: block;
    float: left;
    text-align: center;
    padding: 0 10px 0 10px;
}
.navigation li a span{
    margin-left: 5px;
}

.navigation li:hover{
    background-color: #c81623;
}
/*分类的导航栏: 结束*/

/*中间分类的部分：开始*/
.category .category_left{
    box-sizing: border-box;
    padding: 12px 5px 22px 0;
}
.category_left ul li{
    margin-bottom: 2px;
}
.category_n ul li{
    height: 26px;
    line-height: 26px;
}
.category_n ul li:nth-child(1) {
    color: black;
    width: 80px;
    height: 27px;
    float: left;
    font-weight: 700;
    font-family: "微软雅黑";
}
.category_n ul li:nth-child(n+2){
    margin-left: 20px;
    float: left;
}

.category_n ul li a{
    float: right;
}
.category_n ul li a:hover{
    color: red;
}
.category_n ul>li a span{
    margin-left: 5px;
    margin-right: 5px;
}





/*中间分类的部分：结束*/



/*箭头部分开始*/
.max-picture {
    position: relative;
}
.max-picture .left,
.max-picture .right
{
    position: absolute;
    top: 50%;
    width: 24px;
    height: 44px;
    transform: translateY(-50%);  /*走自己盒子的一半*/
    background: rgba(225, 225, 225, 0.4);
    text-align: center;
    line-height: 44px;
    font-size: 26px;
    color: #fff;
    font-family: Arial;
    display: none;  /*隐藏盒子*/
}
.max-picture .left {
    left: 0;
}
.max-picture .right {
    right: 0;
}
.max-picture:hover .left,
.max-picture:hover .right {
    display: block;  /*显示盒子*/
}
/*圆圈部分*/
.max-picture .circle {
    width: 154px;
    height: 18px;
    position: absolute;
    left: 40px;
    bottom: 16px;
    background: rgba(225, 225, 225, 0.5);
    transform: translateY(-50%);
    border-radius: 10px;
    padding-left: 8px;
}
.circle li {
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    float: left;
    margin: 4px;
    cursor: pointer; /*鼠标经过li时，变成小手*/
}
.max-picture .circle .current {
    background-color: white;
}
/*右边模块开始*/
.grid-col3 {
    width: 190px;
    height: 100%;
}
.grid-col3 a:hover {
    color: #f10215;
}
/*登入模块*/
.login {
    height: 85px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
}
.login-t {
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    /**********************************/
    white-space: nowrap; /*1、强制一行内显示*/
    overflow: hidden;  /*2、溢出部分隐藏*/
    text-overflow: ellipsis; /*3、超出的部分显示省略lue号*/
    /**************************************/
    color: #666;
    padding-left: 60px;
    position: relative;
}
.login-t a {
    color: #666;
}
.user-info {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.user-info img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 4px 4px 6px rgba(225, 225, 225, 1);
}
.login-b a {
    /*display: inline-block;*/
    width: 70px;
    height: 20px;
    border: 2px solid #f10215;
    text-align: center;
    line-height: 20px;
    margin-right: 6px;
    color: #f10215;
    float: left;
}
.login-b a:hover {
    background-color: #f10215;
    color: #fff;
    transition: all 0.5s ease;
}
/*新闻模块*/
.news {
    height: 155px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 7px 13px 0;
    box-sizing: border-box;
}
.news .news-t {
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.news-t a {
    float: left;
    height: 17px;
    line-height: 17px;
}
.news-t .cuxiao {
    width: 38px;
    border-right: 1px solid #ccc;
}
.news-t .gg {
    margin-left: 15px;
}
.news-t .more {
    float: right;
}
.news-t div {
    width: 28px;
    height: 2px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.news-b {
    padding-top: 15px;
}
.news-b li {
    height: 23px;
    line-height: 23px;
}
/*服务模块*/
.expand {
    height: 208px;
    background-color: #fff;
    overflow: hidden;  /*expand的继承了父亲的190宽度，大于190的隐藏起来*/
}
.expand ul {
    width: 195px;  /*父亲的宽度为190而4个li的宽度是192大于父亲，故增加ul的宽度*/
}
.expand li {
    width: 47px;
    height: 69px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.expand li a {
    display: block;
    padding-top: 15px;
    text-align: center;
}
.expand li i {
    width: 18px;
    height: 23px;
    background: url(../images/phone_03.png) no-repeat;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}


/*中间商品：开始*/
.product2{
    background: url("../images/back_img .png") no-repeat;
    width: 1306px;
    height: 580px;
    margin-top: 25px;
    box-sizing: border-box;
    padding: 10px 60px 30px 246px;
}
.product2 ul li{
    float: left;
    margin: 5px 5px 2px;
}



/*中间商品：结束*/