body {
  margin: 0;
  background: var(--background);
  height: 100vh;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

/**
  *********************************************
  LAYOUT SECTION
  *********************************************
*/

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.fixed-panel {
  position: fixed;
  height: 100vh;
  padding: var(--space-xxl) 0 var(--space-lg);
}

.fb-section.sidebar {
  flex-basis: 10%;
  width: 10%;
  height: 100vh;
}

.fb-section.feed {
  flex-basis: 65%;
  padding: var(--space-xxl) var(--space-xxl) var(--space-lg);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.fb-section.info {
  height: 100vh;
  flex-basis: 25%;
  width: 25%;
}

/**
  *********************************************
  SIDEBAR SECTION
  *********************************************
*/

.sidebar-wrapper {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  margin-left: var(--space-lg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fb-section.sidebar .sidebar__logo {
  height: 50px;
  cursor: pointer;
}

.fb-section.sidebar .sidebar__menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.fb-section.sidebar .menu-button {
  display: block;
  position: relative;
  padding: var(--space-sm);
  color: var(--grey-color);
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

.fb-section.sidebar .sidebar__menu__list .sidebar__menu__list__item {
  margin: var(--space-xs) 0;
}

.fb-section.sidebar .menu-button:not(.active):hover {
  background: var(--hover-button-backgrond-color);
  cursor: pointer;
}

.fb-section.sidebar .menu-button.active {
  color: var(--primary-color);
}

.fb-section.sidebar .menu-button.new-content::after {
  content: ".";
  font-weight: bold;
  font-size: var(--space-lg);
  position: absolute;
  left: calc(50% - 3.5px);
}

/**
  *********************************************
  FEED SECTION
  *********************************************
*/

.fb-section.feed .feed__post-creation {
  margin-bottom: var(--space-xl);
  display: flex;
  align-items: center;
}

.fb-section.feed .feed__post-creation__pic {
  height: 30px;
  width: 30px;
  margin-right: var(--space-lg);
}

.fb-section.feed .feed__post-creation__form {
  display: flex;
  width: 100%;
  align-items: inherit;
  justify-content: space-between;
}

.fb-section.feed .feed__post-creation__form__placeholder {
  font-style: italic;
  color: var(--grey-color);
  font-size: 0.9rem;
}

.fb-section.feed .feed__post-creation__form__media-buttons {
  font-size: 0.9rem;
  color: var(--grey-color);
  height: 100%;
}

.fb-section.feed .feed__post-creation__form__media-buttons .separator {
  height: 100%;
  margin-right: var(--space-xs);
  border: 1px solid var(--border-color);
}

.fb-section.feed .feed__post-creation__form__media-buttons .media-button {
  margin-right: var(--space-xxs);
  padding: 2px;
  cursor: pointer;
}

.fb-section.feed .feed__post-creation__form__media-buttons .media-button:hover {
  color: var(--primary-color);
}

.fb-section.feed
  .feed__post-creation__form__media-buttons
  .media-button:last-child {
  color: var(--primary-color);
  margin-right: 0;
}

.fb-section.feed .feed-post {
  margin-top: var(--space-lg);
}

.fb-section.feed .feed-post:first-child {
  margin-top: 0;
}

.fb-section.feed .feed-post__header {
  margin-bottom: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-section.feed .feed-post__header__info {
  display: flex;
  align-items: center;
}

.fb-section.feed .feed-post__header__info .profile-image {
  height: 45px;
  width: 45px;
  margin-right: var(--space-sm);
}

.fb-section.feed .feed-post__header__options-button {
  color: var(--grey-color);
}

.fb-section.feed .feed-post__header__info .user-info__post-date {
  font-size: 0.8rem;
  font-family: "Roboto Light";
}

.fb-section.feed .feed-post__body__image img {
  max-height: 400px;
  width: 100%;
  margin-top: var(--space-xs);
  border-radius: calc(var(--border-radius) / 4);
}

.fb-section.feed .feed-post__footer {
  margin-top: var(--space-lg);
}

.fb-section.feed .feed-post__footer .post-action {
  padding: var(--space-xs) var(--space-lg);
  border-radius: calc(var(--border-radius));
  color: var(--grey-color);
  cursor: pointer;
}

.fb-section.feed .feed-post__footer .post-action:hover {
  background: var(--hover-button-backgrond-color);
}

.fb-section.feed .feed-post__footer .post-action.active {
  color: var(--primary-color);
}

.fb-section.feed .feed-post__footer .post-action .post-action__icon {
  margin-right: 2px;
}

/**
  *********************************************
  INFO (CONTACTS & STORIES) SECTION
  *********************************************
*/

.info-wrapper {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  display: flex;
  flex-direction: column;
}

.fb-section.info .info__toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
}

.fb-section.info .info__toolbar .toolbar-button {
  font-size: 1.4rem;
  color: var(--grey-color);
  margin-right: var(--space-lg);
  cursor: pointer;
  position: relative;
}

.fb-section.info .info__toolbar .toolbar-button:hover {
  color: var(--primary-color);
}

.fb-section.info .info__toolbar .toolbar-button--notification::after {
  content: "5";
  font-size: 0.6rem;
  color: white;
  min-width: 10px;
  padding: 2.5px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  background: var(--red-color);
  position: absolute;
  right: -8px;
  top: -4px;
}

.fb-section.info .info__toolbar .profile-image {
  height: 40px;
}

.fb-section.info .info__search {
  margin-top: var(--space-xl);
  color: var(--grey-color);
  font-size: 0.9rem;
}

.fb-section.info .info__search__icon {
  margin-right: var(--space-xxs);
}

.fb-section.info .card {
  padding-right: 20px;
  padding-left: 20px;
}

.fb-section.info .info__stories {
  margin-top: var(--space-xl);
  max-width: 100%;
}

.fb-section.info .info__stories__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--space-lg);
}

.fb-section.info .info__stories__title__all-button {
  color: var(--primary-color);
  font-style: italic;
  font-size: 0.9rem;
  cursor: pointer;
}

.fb-section.info .info__stories__bubbles__wrapper {
  overflow: hidden;
  width: 100%;
}

.fb-section.info .info__stories__bubbles {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.fb-section.info .info__stories__bubbles .bubble {
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  margin-right: var(--space-md);
  width: 50px;
  height: 50px;
  padding: 3px;
  flex-shrink: 0;
}

.fb-section.info .info__stories__bubbles .bubble:last-child {
  margin-right: 0;
}

.fb-section.info .info__stories__bubbles .bubble--new-history {
  background: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.fb-section.info .info__stories__bubbles .bubble .profile-image {
  width: 100%;
  height: 100%;
}

.fb-section.info .info__contacts {
  margin-top: var(--space-xl);
  padding-right: 20px;
  padding-left: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.fb-section.info .info__contacts__title {
  display: flex;
  justify-content: space-between;
}

.fb-section.info .info__contacts__icon {
  color: var(--grey-color);
}

.fb-section.info .info__contacts__list {
  flex-grow: 1;
}

.fb-section.info .info__contacts__list__item {
  display: flex;
  align-items: center;
  margin: var(--space-lg) 0;
  font-size: 0.9rem;
  cursor: pointer;
}

.fb-section.info .info__contacts__list__item__pic {
  height: 40px;
  margin-right: var(--space-xs);
}
